{% extends 'home/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block css %}<link href="{% static 'home/css/cart.css' %}" rel="stylesheet" />
<style>
  .wrapper{
    height: 38px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border : solid #f7ba01 1px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    margin-bottom:20px;
  }
  .wrapper span{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .wrapper span.num{
    font-size: 15px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }
  .cart_3r1 .form-control{
    border : solid #f7ba01 1px !important;

  }
</style>
{% endblock css %}

{% block content %}
  
<section id="center" class="center_o pt-4 pb-4 bg-light">
  <div class="container-xl">
    <div class="row center_o1 text-center">
      <div class="col-md-12">
        <h1>SHOPPING CART</h1>
      </div>
    </div>
  </div>
</section>

<section id="cart_page" class="cart pt-4 pb-4">
  <div class="container-xl">
    <div class="cart_2 row">
      <div class="col-md-6">
        <h5>MY CART</h5>
      </div>
      <div class="col-md-6">
        <h5 class="text-end text-uppercase">
          <a href='{% url "shop" %}' class="continue-shopping">Continue Shopping</a>
        </h5>
      </div>
    </div>
    <div class="cart_3 row mt-3">
      <div class="col-md-8">
        
        <div class="cart_3l">
          <h6>PRODUCT</h6>
        </div>
        <form method="POST">
        {% csrf_token %}
        {% if not cart_items %}
        <div class="empty-cart-message">
          <center>
            <img src="{% static 'home/image/empty-cart.svg' %} " height="100px" class="my-3 opacity-75">
            <h2 class="cart-heading" >Your Cart is Empty</h2>
            <p class="cart-subheading text-secondary">There are no items in your cart. <br> Add items to the cart</p>
            <a href="{% url "shop" %}" class="btn btn-warning rounded-0 shop-now-btn text-light fw-bold px-4 py-2">SHOP NOW</a>
          </center>
        </div>
        {% else %}
        {% for item in cart_items %}

        <div class="cart_3l1 mt-3 row ms-0 me-0">
          <div class="col-md-3 ps-0 col-3">
            <div class="cart_3l1i col-md-3">
              <a href="#"><center><img src=" {{item.product.productimage_set.last.image.url}} " alt="abc" height="250px" /></center></a>
            </div>
          </div>
          <div class="col-md-9 col-9">
            <div class="cart_3l1i1">
              <h6 class="fw-bold">
                <a href="#"> {{item.product.product.name}} </a>
              </h6>
              <h6 class="fw-normal font_12 mt-3">{{item.product.product.brands}} / {{item.product.product.category}}</h6>
              <h6 class="font_12 mt-3">{{item.product.color}}</h6>
              {% comment %} <h5 class="col_yell mt-3">&#8377;{{item.product.discounted_price}}</h5> {% endcomment %}
              <h4 class="mt-3"> <span class="font_14  col_light">Price : &#8377;</span><span class="font_14  col_light  me-3" id='price'>{{item.product.discounted_price}} </span>
                <span class="col_yell">Total : &#8377;</span><span class="col_yell variant_total_price{{item.product.id}}" >{{item.cart_price}}</span></h4>

              <h6 class="font_12 mt-3 mb-3">Quantity :</h6>
            </div>
            {% if item.product.quantity > 0 %}
            <div class="cart_3l1i2 d-flex">
              <div class="wrapper">
              <span class="minus" onclick="cartQuantity(-1, '{{ item.product.id }}', '{{ item.prod_quantity }}')">-</span>
              <span class="num-{{item.product.id}}">{{ item.prod_quantity }}</span>
              <span class="plus" onclick="cartQuantity(1, '{{ item.product.id }}', '{{ item.prod_quantity }}')">+</span>
              </div>
              <h6><button type="button" class="button_1 ms-3 border-0"  onclick="confirmDelete(this)" data-item-id="{{ item.id }}" href="#">REMOVE</button></h6>
            </div>
            {% else %}  
            <div class="cart_3l1i2 d-flex align-items-center">
              <h6 class="btn btn-danger m-0">Out of stock</h6>
              <h6><button type="button" class="button_1 ms-3 " onclick="confirmDelete(this)" data-item-id="{{ item.id }}" href="#">REMOVE</button></h6>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        
        {% endif %}
      </form>
      </div>
      <div class="col-md-4">
        
        
        <div class="cart_3r">
            <h6 class="head_1">SUBTOTAL</h6>
            <h6 class="text-center text-secondary mt-3">&#8377;<span class="total_price">{{total}}</span></h6>
            <h6 class="head_1">TOTAL</h6>
            <h5 class="text-center col_yell mt-3">&#8377;<span class="total_price">{{total}}</span></h5>
            <hr />
            {% if cart_items %}
            <h6 class="text-center mt-3">
              <a class="button" href='{% url "checkout" %}'>PROCEED TO CHECKOUT</a>
            </h6>
            {% else %}
            <h6 class="text-center mt-3">
              <div class="button bg-secondary">PROCEED TO CHECKOUT</div>
            </h6>
            {% endif %}
            <br />
          </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  function getCSRFToken() {
   return document.querySelector('input[name=csrfmiddlewaretoken]').value;
  }
 
  function cartQuantity(change, variantId, quantity) {
   console.log("Change: " + change);
   console.log("Variant ID: " + variantId);
   console.log("Quantity: " + quantity);
   console.log('botton clicked')
   var c = change
   var p = variantId
   var e = quantity
   $.ajax({
    url: '../cart/update_cart',
    type: 'POST',
    encocded:true,
    data:{
     change: c,
     variantId: p,
     quantity: e
    },

    headers: {
     'X-CSRFToken': getCSRFToken() // Include the CSRF token in the request header
    },
    success: function(data) {
     // Handle the response from the server
     console.log(data);
 
     // Update the displayed quantity based on the server response
     var newQuantity = data.updatedQuantity; // Replace with the actual property in the response
      var totalPrice = data.prodtotal
      var total = data.total

     // Find the <span> element with class "num" and update its content
      $(`.num-${variantId}`).text(newQuantity);
      $(`.variant_total_price${variantId}`).text(totalPrice);
      $(`.total_price`).text(total);

    },
    error: function(error) {
     console.error('Error:', error);
    }
   });
  }
 </script>

 <script>
  function confirmDelete(button) {
   const itemId = button.getAttribute('data-item-id');
   Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#1d4289',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
      // User confirmed the deletion, proceed with the AJAX request to remove the item
      $.ajax({
        type: 'POST',
        url: '../cart/remove_item_from_cart/',
        data: {
          item_id: itemId,
          csrfmiddlewaretoken: getCookie('csrftoken')
        },
        success: function(data) {
          console.log('Item removed successfully.');
          location.reload(); // Reload the page
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.error('Error removing item:', errorThrown);
        }
      });
    }
  });
}

  
  // Function to get the CSRF token from cookies
  function getCookie(name) {
   const value = `; ${document.cookie}`;
   const parts = value.split(`; ${name}=`);
   if (parts.length === 2) return parts.pop().split(';').shift();
  }
  
    </script>

  
  
  
{% endblock scripts %}
