{% extends 'home/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block css %}
<style>
    .address-item {
       border: 1px solid #f7ba01; /* Yellow border */
       padding: 10px; /* Add padding for spacing */
    }
 </style>
<link href="{% static 'home/css/cart.css' %}" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% endblock css %}

{% block content %}


<section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
      <div class="row center_o1 text-center">
       <div class="col-md-12">
         <h1>CHECKOUT</h1>
       </div>
      </div>
    </div>
  </section>
  
  <section id="checkout">
   <div class="container-xl">
    <div class="checkout_1 row">
      <div class="col-md-8">
        <div class="checkout_1l">
        </div>
        {% csrf_token %}
            <div class="checkout_1l1 row">
                <div class="d-flex justify-content-between mt-3">
                <h5 class="m-0">Select Shipping Address</h5>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add new address
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" action='{% url "add_address_checkout" %}'>
                            {% csrf_token %}
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Address</h5>

                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" name="name"> 
                                    </div>
                                    <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" name="phone">
                                    </div>
                                    <div class="form-group">
                                    <label class="form-label">Street address</label>
                                    <textarea class="form-control" rows="2" name="street_address"></textarea>
                                    </div>
                                    <div class="form-group">
                                    <label class="form-label">City</label>
                                    <input type="text" class="form-control" name="city">
                                    </div>    
                                    <div class="form-group">
                                    <label class="form-label">State</label>
                                    <input type="text" class="form-control" name="state">
                                    </div>    
                                    <div class="form-group">
                                    <label class="form-label">Pin Code</label>
                                    <input type="number" class="form-control" name="pincode">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Add Address</button>
                            </div>
                            </form>
                    </div>
                    </div>
                    </div>
                </div>
                <form>
                    {% for address in addresses %}
                    <div class="form-check mt-3 address-item">
                       <input type="radio" class="form-check-input ms-3" id="address_{{ address.id }}" name="selected_address" value="{{ address.id }}" {% if forloop.counter == 1 %}checked{% endif %}>
                       <label class="form-check-label ms-3" for="address_{{ address.id }}">
                          <strong>{{ address.name }}</strong><br>
                          {{ address.street_address }}<br>
                          {{ address.city }}, {{ address.state }} - {{ address.pin_code }}<br>
                          Phone: {{ address.phone }}<br>
                          <button type="button" class="btn btn-outline-secondary mt-2" data-bs-toggle="modal" data-bs-target="#editAddresscheckout-{{forloop.counter}}">
                            Edit
                        </button>
                       </label>

                    </div>
                    {% endfor %}
                 </form>
             </div>
      </div>
      <!-- Edit address Modal HTML -->
      {% for address in addresses %}
      <div id="editAddresscheckout-{{forloop.counter}}" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <form action="edit_address_checkout/{{address.id}}" method='POST'>
                      {% csrf_token %}
                      <div class="modal-header">
                          <h5 class="modal-title" >Edit Address</h5>
                          </div>
                          <div class="modal-body">
                              <div class="container">
                                  <div class="form-group">    
                                  <label class="form-label">Name</label>
                                  <input type="text" class="form-control" name="name" value="{{address.name}}"> 
                                  </div>
                                  <div class="form-group">
                                  <label class="form-label">Phone</label>
                                  <input type="text" class="form-control" name="phone" value="{{address.phone}}">
                                  </div>
                                  <div class="form-group">
                                  <label class="form-label">Street address</label>
                                  <textarea class="form-control" rows="2" name="street_address">{{address.street_address}}</textarea>
                                  </div>
                                  <div class="form-group">
                                  <label class="form-label">City</label>
                                  <input type="text" class="form-control" name="city" value="{{address.city}}">
                                  </div>    
                                  <div class="form-group">
                                  <label class="form-label">State</label>
                                  <input type="text" class="form-control" name="state" value="{{address.state}}">
                                  </div>    
                                  <div class="form-group">
                                  <label class="form-label">Pin Code</label>
                                  <input type="number" class="form-control" name="pincode" value="{{address.pin_code}}">
                                  </div>
                              </div>
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-success">Update Address</button>
                          </div>
                  </form>
              </div>
          </div>
      </div>
      {% endfor %}
      
       <div class="col-md-4">
        {% csrf_token %}

         <div class="checkout_1r">
            <div class="cart_3r1 mt-3">
                <div class='d-flex justify-content-between'>
                    <h5 class='mt-2'>APPLY COUPONS</h5>
                    <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#couponModal">
                        Available Coupons
                    </button>
                </div>
                <hr />
              <h6 class="font_13">Enter your coupon code</h6>
              <input id="couponCode" class="form-control" type="text" />
              <span id="couponError" class="text-danger"></span>
              <h6 class="text-center mt-3">
                  <a class="button" href="#" onclick="applyCoupon()">APPLY</a>
                  <a class="button_1" href="#" onclick="removeCoupon()">REMOVE</a>
                
                  <br><br>
              </h6>
            </div>
           <h5 class="mt-4">CART TOTALS</h5>
           <hr class="line">
           {% for item in cart_items %}
           <h6 class="font_13 text-secondary">{{item.product.product.name}} - {{item.product.color}} <span class="pull-right">{{item.prod_quantity}} x &#8377;{{item.product.discounted_price}}</span></h6>
           {% endfor %}
           <h6 class="fw-bold font_13">Sub Total <span class="pull-right">&#8377;{{total}}</span></h6>
           <h6 class="fw-bold mt-3 font_13">(+) Shipping <span class="pull-right">Free shipping</span></h6>
           <h6 class="fw-bold mt-3 font_13 m-0">Coupon discount <span class="pull-right">-<span class="coupon-discount"><span></span></h6>
          <hr> 
          <h6 class="fw-bold">Total <span class="pull-right">&#8377;<span class="final-total">{{total}}</span></span></h6><br>
           <h5>PAYMENTS</h5>
           <hr class="line">
           {% comment %} <div class="form-check mt-3">
          <input type="radio" class="form-check-input" id="customCheck1">
          <label class="form-check-label" for="customCheck1">Check Payments</label>
      </div> {% endcomment %}
           <div class="form-check mt-2">
            <input type="radio" class="form-check-input" id="customCheck1" value="COD" name="payment" checked>
            <label class="form-check-label" for="customCheck1">Cash On Delivery</label><br>
            <input type="radio" class="form-check-input" id="customCheck2" value="razorpay" name="payment" >
            <label class="form-check-label" for="customCheck1">Razorpay</label><br>
            <input type="radio" class="form-check-input" id="customCheck3" value="wallet" name="payment" >
            <label class="form-check-label" for="customCheck1">Wallet</label>
      </div>

      <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                {% for coupon in coupons %}
                    <div class="coupon-item">
                        <p class="text-muted mb-1">Coupon Name: {{coupon.name}}</p>
                        <h4 style="color:#1d4289;">{{coupon.code}}</h4>
                        <p class="mb-0"><strong>Expiry Date:</strong> {{coupon.expiration_date}}</p>
                        <p class="mb-0"><strong>Discount Value:</strong> Flat:  &#8377;{{coupon.discount_value}} off</p>
                        <p class="mb-0"><strong>Minimum Purchase:</strong> &#8377;{{coupon.minimum_purchase}}</p>
                    </div>
                    <hr>
                {% endfor %}
                
                    <!-- Add more coupons as needed -->
                
                </div>
                
                
                {% comment %} <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    
           {% comment %} <div class="form-check mt-2">
          <input type="radio" class="form-check-input" id="customCheck1">
          <label class="form-check-label" for="customCheck1">PayPal</label>
      </div> {% endcomment %}   
      <div>
        <h6 class="mt-3"><button class="button border-0" href="#" id="placeOrderButton">PLACE ORDER</button></h6>
    </div>
        </div>
     </div>
   </div>
  </section>

  {% endblock content %}
  {% block scripts %}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#placeOrderButton').click(function (event) {
              event.preventDefault();
  
              // Get the selected address ID
              var selectedAddress = $("input[name='selected_address']:checked").val();
              // Get the selected payment method
              var selectedPayment = $("input[name='payment']:checked").val();
  
              // Get the CSRF token from a hidden input field
              var csrfToken = $("input[name='csrfmiddlewaretoken']").val();

              // Total amount calculated after the coupon applied
              var totalAmount = $('.final-total').text().trim();

            console.log(totalAmount)
              // Make sure both address and payment method are selected
              if (selectedAddress && selectedPayment) {
                  // Create a data object to send in the request
                  var data = {
                      selected_address: selectedAddress,
                      payment: selectedPayment,
                      total_amount: totalAmount, // Include the total amount in the data object
                      csrfmiddlewaretoken: csrfToken, // Include the CSRF token
                  };
                  
                  if (selectedPayment === 'razorpay') {
                    // Send the AJAX request
                    $.ajax({
                        type: 'POST',
                        url: 'place_order_razorpay',
                        data: data,
                        success: function (response) {
                            if (response.success){
                                var options = {
                                    "key": "rzp_test_364uDI7fwiadCE", // Enter the Key ID generated from the Dashboard
                                    "amount": response.total_price * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                    "currency": "INR",
                                    "name": "SHOP13",
                                    "description": "Online Payment",
                                    "image": "https://img.goodfon.com/wallpaper/big/e/a5/13-tsifry-chislo.jpg",
                                    "order_id": response.payment_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                    "handler": function (responseb){
                                        // alert(responseb.razorpay_order_id);
                                        // alert(responseb.razorpay_payment_id);
                                        // alert(responseb.razorpay_signature)
                                        var data = {
                                            selected_address: selectedAddress,
                                            payment: selectedPayment,
                                            csrfmiddlewaretoken: csrfToken, // Include the CSRF token
                                            total_amount: totalAmount, // Include the total amount in the data object
                                            payment_id : responseb.razorpay_payment_id ,
                                        };
                                        $.ajax({
                                            type: 'POST',
                                            url: 'place_order',
                                            data: data,
                                            success: function (responsec) {
                                                if (responsec.success){
                                                  window.location.href = '../orders/view_order'

                                                }
                                                else{
                                                    alert('Error :' + responsec.message)
                                                }
                                            }
                        
                                        });
                                    },
                                    "prefill": {
                                        "name": "",
                                        "email": "",
                                        "contact": ""
                                    },
                                    "notes": {
                                        "address": "Razorpay Corporate Office"
                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                };
                                var rzp1 = new Razorpay(options);
                                 rzp1.on('payment.failed', function (response){
                                     alert(response.error.code);
                                       
                                 });
                                rzp1.open()
                            }
                            else{
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: response.message,
                                    confirmButtonText: 'OK',
                                });
                            }
                        }
    
                    });
                } else if (selectedPayment === 'COD') {
                    // Send the AJAX request
                    $.ajax({
                        type: 'POST',
                        url: 'place_order',
                        data: data,
                        success: function (response) {
                            if (response.success){


                              window.location.href = '../orders/view_order'
                            }
                            else{
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: response.message,
                                    confirmButtonText: 'OK',
                                });
                            
                            }
                        }
    
                    });
                }else if (selectedPayment === 'wallet') {
                    // Send the AJAX request
                    $.ajax({
                        type: 'POST',
                        url: 'place_order_wallet',
                        data: data,
                        success: function (response) {
                            if (response.success){
                                
                                console.log("Placing order")
                              window.location.href = '../orders/view_order'
                            }
                            else{
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: 'Your order could not be placed.\n ' + response.message,
                                    confirmButtonText: 'OK',
                                });
                                
                            }
                        }
    
                    });
                    
                }
              } else {
                  alert("Please select an address and payment method.");
              }
          });
      });
  </script>

  <script type="text/javascript">
    function getCSRFToken() {
        // Implement the logic to retrieve the CSRF token
        // This might involve selecting an input element or using a different method
        return document.querySelector('input[name="csrfmiddlewaretoken"]').value;
      }
    function applyCoupon() {
        var couponCode = $('#couponCode').val();

        $.ajax({
            url: 'apply_coupons',
            type: 'POST',
            data: {
                couponCode: couponCode,
                csrfmiddlewaretoken: getCSRFToken()
            },
            success: function (data) {
                // Handle the response from the server, e.g., update total prices
                console.log(data);

                if ('error' in data) {
                    // Display the error message below the input field
                    $('#couponError').text(data.error);
                } else {
                    $('.coupon-discount').text(data.discount_amount);
                    $('.final-total').text(data.total);
                    
                    // Clear the error message on success
                    $('#couponError').text('');
                    Swal.fire({
                        icon: 'success',
                        title: "Coupon Applied Successfully",
                        confirmButtonText: 'OK',
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);

                // Display a generic error message below the input field
                $('#couponError').text('Error applying coupon. Please try again.');
            }
        });
    }
    function removeCoupon() {
        var couponCode = $('#couponCode').val();
        console.log("clicked")
    
        $.ajax({
            url: 'remove_coupon',
            type: 'POST',
            data: {
                couponCode: couponCode,
                csrfmiddlewaretoken: getCSRFToken()
            },
            success: function (data) {
                // Handle the response from the server, e.g., update total prices
                console.log(data);
    
                if ('error' in data) {
                    // Display the error message below the input field
                    $('#couponError').text(data.error);
                } else {
                    $('.coupon-discount').text(''); // Clear the coupon discount display
                    $('.final-total').text(data.total);
    
                    // Clear the error message on success
                    $('#couponError').text('');
                    Swal.fire({
                        icon: 'success',
                        title: "Coupon Removed Successfully",
                        confirmButtonText: 'OK',
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
    
                // Display a generic error message below the input field
                $('#couponError').text('Error removing coupon. Please try again.');
            }
        });
    }
    
</script>





  {% endblock scripts %}

  