{% extends 'home/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block css %}<link href="{% static 'home/css/about.css' %}" rel="stylesheet" />{% endblock css %}

{% block about %}active{% endblock about %}

  {% block content %}
  
  <section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
      <div class="row center_o1 text-center">
       <div class="col-md-12">
         <h1>ABOUT US</h1>
       </div>
      </div>
    </div>
  </section>
  
  <section id="about_pg" class="pt-4 pb-4">
   <div class="container-xl">
    <div class="about_pg_1 row">
     <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="about_pg_1l">
        <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="#"><img src="{% static 'home/image/Shop 13 logo.png' %}" class="w-100 m-auto" alt="abc"></a>
                </figure>
            </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="about_pg_1r">
       <h3>OUR STORY</h3>
       <p class="mt-3"><b>Financial Strain:</b> Securing the funds to build and maintain the website was a constant source of stress. Every expense, from web development to marketing, felt like a weight on the shoulders.</p>
       <p class="mt-3"><b>Technical Hurdles:</b> Alex, the founder, faced many technical challenges in setting up the website. Learning the intricacies of web development, hosting, and e-commerce platforms proved to be a steep learning curve.</p>
       <p class="mt-3"><b>Inventory Sourcing:</b> Sourcing quality watches from suppliers worldwide was no easy task. Negotiating deals, ensuring authenticity, and handling shipping logistics added another layer of complexity.</p>
       <p class="mt-3"><b>Marketing Frustrations:</b>  Attracting the first wave of customers proved to be a challenge. Navigating the world of digital marketing and social media promotion required time and effort.</p>
       <h5 class="col_yell mt-4">Mission of Our Creative House</h5>
       <hr>
       <div class="about_pg_1ri row mt-4">
        <div class="col-md-4 col-4">
         <div class="about_pg_1ri1">
          <span class="col_light fs-1 float-start me-3 span_1"><i class="fa fa-file-archive-o"></i></span>
           <h3 class="mb-0">32000+ <br> <span class="font_14 col_light span_2">Users</span></h3>
         </div>
        </div>
        <div class="col-md-4 col-4">
         <div class="about_pg_1ri1">
          <span class="col_light fs-1 float-start me-3 span_1"><i class="fa fa-money"></i></span>
           <h3 class="mb-0">&#8377;4M <br> <span class="font_14 col_light span_2">Revenue</span></h3>
         </div>
        </div>
        <div class="col-md-4 col-4">
         <div class="about_pg_1ri1">
          <span class="col_light fs-1 float-start me-3 span_1"><i class="fa fa-trophy"></i></span>
           <h3 class="mb-0">20+ <br> <span class="font_14 col_light span_2">Awards</span></h3>
         </div>
        </div>
        
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  
  <section id="spec" class="pt-4 pb-4 bg-light">
   <div class="container-xl">
     <div class="row prod_1 mb-4 text-center">
       <div class="col-md-12">
        <h6 class="h_line font_13">WHY CHOOSE US</h6>
        <h2 class="mb-0 col_yell mt-3">EXPERIENCE IN SETTING UP</h2>
       </div>
    </div>
    <div class="row spec_1 mt-4">
       <div class="col-md-4">
         <div class="spec_1i bg-white p-4 pt-2">
          <span class="col_yell font_50"><i class="fa fa-rocket"></i></span>
          <h5 class="mt-3">Home Fast Delivery</h5>
          <p class="mt-3">"Fast home delivery ensures your orders arrive promptly at your doorstep, saving you time and providing convenience. Speed, reliability, and convenience - all in one service."</p>
          <p class="mb-2">Call and deliver</p>
          <p class="mb-0">On time delivery</p>
         </div>
       </div>
       <div class="col-md-4">
         <div class="spec_1i bg-white p-4 pt-2">
          <span class="col_yell font_50"><i class="fa fa-credit-card"></i></span>
          <h5 class="mt-3">Secure Payment</h5>
          <p class="mt-3">"Secure payment methods protect your financial transactions. Advanced encryption and fraud prevention safeguards your sensitive information, ensuring a worry-free and trustworthy online shopping experience."</p>
          <p class="mb-2">24/7 Support</p>
          <p class="mb-0">Money back in 15 days</p>
         </div>
       </div>
       <div class="col-md-4">
         <div class="spec_1i bg-white p-4 pt-2">
          <span class="col_yell font_50"><i class="fa fa-phone"></i></span>
          <h5 class="mt-3">24/7 Customer Support</h5>
          <p class="mt-3">"Exceptional customer support offers assistance, guidance, and solutions. Responsive and knowledgeable representatives address concerns promptly, ensuring a positive, stress-free experience for every customer."</p>
          <p class="mb-2">Fast response</p>
          <p class="mb-0">Friendly service</p>
         </div>
       </div>
    </div>
   </div>
  </section>
  
  {% endblock content %}

