{% extends 'home/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block css %}<link href="{% static 'home/css/about.css' %}" rel="stylesheet" />{% endblock css %}

{% block about %}active{% endblock about %}

  {% block content %}
  
  <section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
      <div class="row center_o1 text-center">
       <div class="col-md-12">
         <h1>ABOUT US</h1>
       </div>
      </div>
    </div>
  </section>
  
  <section id="about_pg" class="pt-4 pb-4">
   <div class="container-xl">
    <div class="about_pg_1 row">
     <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="about_pg_1l">
        <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="#"><img src="{% static 'home/image/Shop 13 logo.png' %}" class="w-100 m-auto" alt="abc"></a>
                </figure>
            </div>
      </div>
     </div>
     <div class="col-md-6">
      <div class="about_pg_1r">
       <h3>OUR STORY</h3>
       <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting indust orem Ipsum has been the industry's standard dummy texever since the when anunknown printer took a galley of type and scrambled it to make a type specimen book.</p>
       <p class="mt-3">Dorem Ipsum is simply dummy consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
       <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting indust orem Ipsum has been the industry's standard dummy texever since the when anunknown printer took a galley of type and scrambled it to make a type specimen book.</p>
       <h5 class="col_yell mt-4">Mission of Our Creative House</h5>
       <hr>
       <div class="about_pg_1ri row mt-4">
        <div class="col-md-4 col-4">
         <div class="about_pg_1ri1">
          <span class="col_light fs-1 float-start me-3 span_1"><i class="fa fa-file-archive-o"></i></span>
           <h3 class="mb-0">328+ <br> <span class="font_14 col_light span_2">Projects</span></h3>
         </div>
        </div>
        <div class="col-md-4 col-4">
         <div class="about_pg_1ri1">
          <span class="col_light fs-1 float-start me-3 span_1"><i class="fa fa-money"></i></span>
           <h3 class="mb-0">$4M <br> <span class="font_14 col_light span_2">Revenue</span></h3>
         </div>
        </div>
        <div class="col-md-4 col-4">
         <div class="about_pg_1ri1">
          <span class="col_light fs-1 float-start me-3 span_1"><i class="fa fa-trophy"></i></span>
           <h3 class="mb-0">368+ <br> <span class="font_14 col_light span_2">Awards</span></h3>
         </div>
        </div>
        
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  
  <section id="spec" class="pt-4 pb-4 bg-light">
   <div class="container-xl">
     <div class="row prod_1 mb-4 text-center">
       <div class="col-md-12">
        <h6 class="h_line font_13">WHY CHOOSE US</h6>
        <h2 class="mb-0 col_yell mt-3">EXPERIENCE IN SETTING UP</h2>
       </div>
    </div>
    <div class="row spec_1 mt-4">
       <div class="col-md-4">
         <div class="spec_1i bg-white p-4 pt-2">
          <span class="col_yell font_50"><i class="fa fa-rocket"></i></span>
          <h5 class="mt-3">Home Fast Delivery</h5>
          <p class="mt-3">Lorem Ipsum simply dumm the printing and typesetting indust orem Ipsum has been the industry standard dummy men book.</p>
          <p class="mb-2">Smart UHD TV</p>
          <p class="mb-0">Snow Frost in Freezer</p>
         </div>
       </div>
       <div class="col-md-4">
         <div class="spec_1i bg-white p-4 pt-2">
          <span class="col_yell font_50"><i class="fa fa-credit-card"></i></span>
          <h5 class="mt-3">Secure Payment</h5>
          <p class="mt-3">Lorem Ipsum simply dumm the printing and typesetting indust orem Ipsum has been the industry standard dummy men book.</p>
          <p class="mb-2">24/7 Support</p>
          <p class="mb-0">Money back in 15 days</p>
         </div>
       </div>
       <div class="col-md-4">
         <div class="spec_1i bg-white p-4 pt-2">
          <span class="col_yell font_50"><i class="fa fa-phone"></i></span>
          <h5 class="mt-3">24/7 Customer Support</h5>
          <p class="mt-3">Lorem Ipsum simply dumm the printing and typesetting indust orem Ipsum has been the industry standard dummy men book.</p>
          <p class="mb-2">Smart UHD TV</p>
          <p class="mb-0">Snow Frost in Freezer</p>
         </div>
       </div>
    </div>
   </div>
  </section>
  
  {% endblock content %}

