{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Shop13 - {% block title %}{% endblock title %}</title>
  <link href=" {% static 'home/css/bootstrap.min.css' %}"  rel="stylesheet" />
  <link href="{% static 'home/css/font-awesome.min.css' %} " rel="stylesheet" />
  <link href="{% static 'home/css/global.css' %} " rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="{% static 'home/image/13_favicon_logo.jpg' %}">
    <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  {% block css %}{% endblock css %}
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet" />
  <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/d059fb7515.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    .cart-count-badge {
      position: absolute;
      top: 18px;
      margin-left:18px;
      background: #ff0000;
      color: #fff;
      border-radius: 50%;
      padding: 3px 9px;
      font-size: 12px;
  }
  .fa-cart-shopping{
    position:relative !important;
  }
  
  </style>

</head>

<body>
  <section id="header_top" class="pt-4 pb-4">
    <div class="container-fluid">
      <div class="row header_top1">
        <div class="col-md-3">
          <div class="header_top1l">
            <a href="{% url 'home' %}">
            <img src="{% static 'home/image/Shop 13 logo.png' %}" alt="" height="35px" style="margin-left: 15px;">
            </a>
          </div>
        </div>
        <div class="col-md-5">
        <form method="GET" action="../..{% url "search" %}">
          <div class="header_top1m">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Search for your item" />
              <span class="input-group-btn">
                <button class="btn btn-primary bg_yell" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </form>
        </div>
        <div class="col-md-4">
          <div class="header_top1r pull-right">
            <ul class="mb-0 d-flex f-row">
              <li class="nav-item d-inline-block">
                <a href="{% url "wishlist" %}"><i class="fa-solid fa-heart header-icons" style="color: #f7ba01;"></i></a>
              </li>
              <li class="nav-item  d-inline-block font_13 me-2">
                <a class="text-light" href="{% url "cart" %}"><i class="fa-solid fa-cart-shopping header-icons" style="color: #f7ba01 ;"></i>
                  <div class="cart-count-badge" id="cart-count-badge">{{cart_count}}</div>
                </a>
              </li>
              <li class="nav-item  d-inline-block font_13 border-0 d-flex f-row">
            <a class="nav-link dropdown-toggle p-0 text-black d-flex f-row align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user header-icons" style="color: #f7ba01;"></i>
                <label class="">{{ users }}</label>

                
            </a>
              <ul class="dropdown-menu drop_2 drop_cat" aria-labelledby="navbarDropdown">
                {% if users == "Login Now" %}
                <li>
                    <a class="dropdown-item" href="{% url 'signin' %}"><i class="fa fa-caret-right me-1 col_yell"></i>
                      Login Account</a>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item" href="{% url "profile" %}"><i class="fa fa-caret-right me-1 col_yell"></i>
                    Profile</a>
              </li>
                <li>
                  <a class="dropdown-item" href="{% url "orders" %}"><i class="fa fa-caret-right me-1 col_yell"></i>
                    My orders</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url "wallet" %}"><i class="fa fa-caret-right me-1 col_yell"></i>
                    My Wallet</a>
                </li>
                <li>
                  <a class="dropdown-item border-0" href="{% url 'logout' %}"><i class="fa fa-caret-right me-1 col_yell"></i>
                    Logout</a>
                </li>

                {% endif %}
              </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="header" class="bg_light">
    <nav class="navbar navbar-expand-md navbar-light pt-0 pb-0" id="navbar_sticky" >
      <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="collapse navbar-collapse  d-flex justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-0">
           <li class="nav-item">
              <a class="nav-link {% block home %}{% endblock home %}" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block shop %}{% endblock shop %}" href="{% url 'shop' %}">Shop </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu drop_2 drop_cat" aria-labelledby="navbarDropdown">
                {% for item in categories_nav %}
                <li>
                  <a class="dropdown-item" href="../shop/?category={{item.id}}"><i class="fa fa-caret-right me-1 col_yell"></i>
                    {{item.name}}</a>
                </li>
                {% endfor %}

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Brands
              </a>
              <ul class="dropdown-menu drop_2 drop_cat" aria-labelledby="navbarDropdown">
                {% for item in brands_nav %}
                <li>
                  <a class="dropdown-item" href="../shop/?brand={{item.id}}"><i class="fa fa-caret-right me-1 col_yell"></i>
                    {{item.name}}</a>
                </li>
                {% endfor %}
                
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link {% block contact %}{% endblock contact %}" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block about %}{% endblock about %}" href="{% url 'about' %}">About </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  {% block content %}{% endblock content %}  

  <section id="subs" class="pt-5 pb-5 bg_blue">
    <div class="container-xl">
      <div class="row subs_1">
        <div class="col-md-6">
          <div class="subs_1l">
            <span class="d-inline-block col_yell font_50 float-start me-3"><i class="fa fa-envelope-o"></i></span>
            <h4 class="text-white">Newsletter & Get Updates</h4>
            <p class="mb-0 text-light">
              Sign up for our newsletter to get up-to-date from us
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="subs_1r">
            <div class="input-group p-2">
              <input type="text" class="form-control border-0 bg-transparent" placeholder="Enter Your Email" />
              <span class="input-group-btn">
                <button class="btn btn-primary bg_yell border-0 fs-6" type="button">
                  SUBSCRIBE
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer" class="pt-4 pb-4 bg_light">
    <div class="container-xl">
      <div class="row footer_1">
        <div class="col-md-4">
          <div class="footer_1i">
            <h3>
              <img src="{% static 'home/image/Shop 13 logo.png' %}" class="m-0" alt="" height="35px" style="margin-left: 15px;">
            </h3>
            <p class="mt-3">
                Your premier destination for exquisite timepieces.
                Explore our curated collection of watches that blend
                timeless elegance with modern craftsmanship.
            </p>
            <ul class="social-network social-circle mb-0 mt-3">
              <li>
                <a href="#" class="icoRss" title="Rss"><i class="fa fa-github"></i></a>
              </li>
              <li>
                <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="icoGoogle" title="Google +"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_1i">
            <h5 class="fs-6 mb-4">QUICK LINKS</h5>
            <div class="row">
              <h6 class="font_14 fw-normal mb-3 col-md-12 col-6">
                <a href="#">Cart</a>
              </h6>
              <h6 class="font_14 fw-normal mb-3 col-md-12 col-6">
                <a href="#">My orders</a>
              </h6>
              <h6 class="font_14 fw-normal mb-3 col-md-12 col-6">
                <a href="#">User Profile</a>
              </h6>
              <h6 class="font_14 fw-normal mb-3 col-md-12 col-6">
                <a href="#">About us</a>
              </h6>
              <h6 class="font_14 fw-normal mb-0 col-md-12 col-6">
                <a href="#">Contact Us</a>
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_1i">
            <h5 class="fs-6 mb-4">CONTACT US</h5>
            <div class="footer_1i1 row">
              <div class="col-lg-1 col-md-2 col-1">
                <span class="col_yell fs-5"><i class="fa fa-map-marker"></i></span>
              </div>
              <div class="col-md-10 col-lg-11 col-11">
                <p class="mb-0">
                  Malappuram , Kerala, India, 676505
                </p>
              </div>
            </div>
            <div class="footer_1i1 row mt-3">
              <div class="col-lg-1 col-md-2 col-1">
                <span class="col_yell fs-5"><i class="fa fa-headphones"></i></span>
              </div>
              <div class="col-md-10 col-lg-11 col-11">
                <p class="mb-0">+91 773 649 5004</p>
              </div>
            </div>
            <div class="footer_1i1 row mt-3">
              <div class="col-lg-1 col-md-2 col-1">
                <span class="col_yell fs-5"><i class="fa fa-envelope"></i></span>
              </div>
              <div class="col-md-10 col-lg-11 col-11">
                <p class="mb-0">shop13ecommerce@gmail.com</p>
              </div>
            </div>
            <div class="footer_1i1 row mt-3">
              <div class="col-lg-1 col-md-2 col-1">
                <span class="col_yell fs-5"><i class="fa fa-phone"></i></span>
              </div>
              <div class="col-md-10 col-lg-11 col-11">
                <p class="mb-0">+91 773 649 5004</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer_b" class="bg_blue">
    <div class="container-xl">
      <div class="row footer_b1 text-center">
        <div class="col-md-12">
          <p class="mb-0 text-light">
            © 2023 Shop13 Watch store. All Rights Reserved | Design by
            <a class="col_yell fw-bold" href="#">ShibilMohd13</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <script>
    window.onscroll = function () {
      myFunction();
    };

    var navbar_sticky = document.getElementById("navbar_sticky");
    var sticky = navbar_sticky.offsetTop;
    var navbar_height = document.querySelector(".navbar").offsetHeight;

    function myFunction() {
      if (window.pageYOffset >= sticky + navbar_height) {
        navbar_sticky.classList.add("sticky");
        document.body.style.paddingTop = navbar_height + "px";
      } else {
        navbar_sticky.classList.remove("sticky");
        document.body.style.paddingTop = "0";
      }
    }
  </script>
  {% comment %} Alerty JS {% endcomment %}
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

  <script>
    alertify.set('notifier','position', 'top-right');
    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}
    
    
  </script>
  {% block scripts %}{% endblock scripts %}
</body>

</html>
