{% extends 'home/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block css %}<link href="{% static 'home/css/contact.css' %}" rel="stylesheet" />{% endblock css %}

{% block contact %}active{% endblock contact %}

  {% block content %}
 
    
<section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
      <div class="row center_o1 text-center">
       <div class="col-md-12">
         <h1>CONTACT US</h1>
       </div>
      </div>
    </div>
  </section>
  
  <section id="contact" class="pt-4 pb-4 bg_light_1">
   <div class="container-xl">
     <div class="row contact_1 ">
       <div class="col-md-4">
        <div class="contact_1i text-center  bg-white">
         <span class="bg_yell text-white fs-2 span_1"><i class="fa fa-map-marker"></i></span>
         <h5 class="mt-3">Our Location</h5>
         <p class="mb-0 mt-3">3rd Floor, Kinfra New tower, Kinfra Techno park,<br> Kakkanchery  Malappuram, Kerala, India</p>
        </div>
       </div>
       <div class="col-md-4">
        <div class="contact_1i text-center  bg-white">
         <span class="bg_yell text-white fs-2 span_1"><i class="fa fa-envelope"></i></span>
         <h5 class="mt-3">Our Email</h5>
         <p class="mb-0 mt-3"><span class="fw-bold">Email Us:</span> shop13ecommerce@gmail.Com<br>  shibilmhdjr13@gmail.Com</p>
        </div>
       </div>
       <div class="col-md-4">
        <div class="contact_1i text-center  bg-white">
         <span class="bg_yell text-white fs-2 span_1"><i class="fa fa-phone"></i></span>
         <h5 class="mt-3">Phone Number</h5>
         <p class="mb-0 mt-3"><span class="fw-bold">Contacr Numbers:</span> +91 773 649 5004<br> +91 999 777 8000</p>
        </div>
       </div>
    </div>
   </div>
  </section>
  
  <section id="contact_o" class="pt-4 pb-4">
   <div class="container-xl">
     <div class="row prod_1 mb-4 text-center">
       <div class="col-md-12">
        <h6 class="h_line font_13">LET’S TALK</h6>
        <h2 class="col_yell mt-3">SEND US A MESSAGE</h2>
        <p class="mb-0">We are always happy to talk with you. Be sure to write to us if you have any <br> questions or need help and support.</p>
       </div>
    </div>
    <form method='POST' action=''>
      {% csrf_token %}
     <div class="row contact_o1">
         <div class="col-md-12">
          <div class="contact_o1l">
           <div class="contact_o1li row">
            <div class="col-md-6">
             <div class="contact_o1lil">
               <div class="input-group p-2 bg_light">
                  <input type="text" name="first_name" class="form-control border-0 bg-transparent" placeholder="First Name*" required>
                  <span class="input-group-btn">
                      <button class="btn btn-primary bg-transparent border-0 fs-6" type="button">
                          <i class="fa fa-user col_light"></i> </button>
                  </span>
          </div>
             </div>
            </div>
            <div class="col-md-6">
             <div class="contact_o1lil">
               <div class="input-group p-2 bg_light">
                  <input type="text"  name="last_name" class="form-control border-0 bg-transparent" placeholder="Last Name*" required>
                  <span class="input-group-btn">
                      <button class="btn btn-primary bg-transparent border-0 fs-6" type="button">
                          <i class="fa fa-user col_light"></i> </button>
                  </span>
          </div>
             </div>
            </div>
           </div>
           <div class="contact_o1li row mt-3">
            <div class="col-md-6">
             <div class="contact_o1lil">
               <div class="input-group p-2 bg_light">
                  <input type="email" name="email" class="form-control border-0 bg-transparent" placeholder="Your Email*" required>
                  <span class="input-group-btn">
                      <button class="btn btn-primary bg-transparent border-0 fs-6" type="button">
                          <i class="fa fa-envelope col_light"></i> </button>
                  </span>
          </div>
             </div>
            </div>
            <div class="col-md-6">
             <div class="contact_o1lil">
               <div class="input-group p-2 bg_light">
                  <input type="number" class="form-control border-0 bg-transparent" placeholder="Phone*" name='phone' required>
                  <span class="input-group-btn">
                      <button class="btn btn-primary bg-transparent border-0 fs-6" type="button">
                          <i class="fa fa-phone col_light"></i> </button>
                  </span>
          </div>
             </div>
            </div>
           </div>
           <div class="contact_o1li row mt-3">
            <div class="col-md-12">
             <div class="contact_o1lil">
               <textarea placeholder="Enter Your Message" class="form-control bg_light border-0 form_area" name='message'  required></textarea>
               <button type="submit" style="border:none" class="button mb-0 mt-4">SUBMIT</button>
             </div>
            </div>
        
           </div>
          </div>
         </div>
    </div>
    <form>
   </div>
  </section>
  

  {% endblock content %}

