{% extends 'home/base.html' %}
{% load static %}
{% block title %}Product Details{% endblock title %}
{% block css %}<link href="{% static 'home/css/detail.css' %}" rel="stylesheet" />


{% endblock css %}

{% block shop %}active{% endblock shop %}

  {% block content %}
  
  <section id="center" class="center_o pt-4 pb-4 bg-light">
    <div class="container-xl">
        <div class="row center_o1 text-center">
            <div class="col-md-12">
                <h1>PRODUCT DETAIL</h1>
            </div>
        </div>
    </div>
</section>

<section id="detail" class="pt-4 pb-5">
    <div class="container-xl product_data">
        <div class="row detail_1">
            <div class="col-md-6">
                <div class="detail_1l">
                    <div id="carouselExampleCaptions" class="carousel slide " >
                        
                        <div class="carousel-indicators">
                            {% for i in item.productimage_set.all %}
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter }}" {% if forloop.first %} class="active" {% endif %} >
                                </button>
                            {% endfor %}
                        </div>

                        <div class="carousel-inner main-image">
                            {% for i in item.productimage_set.all %}
                            <div class="carousel-item {% if forloop.last %} active{% endif %}">
                                <center>
                                <img src="{{i.image.url}}" class="d-block " height='500px' alt="abc" id="main-img-{{forloop.counter0}}">
                                </center>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon"aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail_1r">
                    {% if item.quantity > 0 %}
                    <h6 id="availability-status" class="d-inline-block font_12 ps-3 pe-3 pt-2 pb-2 rounded-1 bg_yell">In Stock</h6>
                    {% else %}
                    <h6 id="availability-status" class="d-inline-block font_12 ps-3 pe-3 pt-2 pb-2 rounded-1 bg-danger">Out of Stock</h6>
                    {% endif %}
                    <h4 class="mt-2">{{item.product.name}}</h4>
                    <h6 class="font_14 mt-3">
                        <span class="col_yell">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-sta-or"></i>
                        </span>
                        - 2 Customer Reviews
                    </h6>
                    <h4 class="mt-3 d-flex align-items-end"><span class="col_yell">&#8377;</span><span class="col_yell me-3" id='discounted_price'>{{item.discounted_price}}</span> 
                        {% if item.discount > 0 %}
                        <div class="font_14  text-decoration-line-through col_light" id="price-span">&#8377;<span class="font_14  text-decoration-line-through col_light" id='price'>{{item.price}}</span></div>
                        {% endif %}
                    </h4>
                        
                        <p>{{item.product.description}}</p>
                    
                    <form>
                        {% csrf_token %}
                    {% comment %} <div class="d-flex f-row">
                        <h6 class="me-5 mt-4">Quantity : </h6>
                        <input type="number" min="1" value="1" class="form-control mt-2 border-3 qty-input" placeholder="Qty" style="width: 140px; height:50px; margin-right:10px; float:left;">
                    </div> {% endcomment %}
                    <input type="hidden" id="product-id" value="{{item.id}}" class="prod_id">
                    <div class="d-flex f-row">

                    {% if item.quantity == 0 %}
                    <h6 class="text-uppercase ms-1 mt-4"><button class="button border-0 bg-secondary" href="#" id="addtocart" disabled>Add to Cart</button></h6>
                    {% else %}
                    <h6 class="text-uppercase ms-1 mt-4"><button class="button border-0 bg-warning" href="#" id="addtocart">Add to Cart</button></h6>
                    {% endif %}
                    </div>
                    <h6 class="mt-3 mb-3">Colors:</h6>
                    <div class="d-flex f-row mt-3">
                        <div class="color-images">
                            {% for v in all_varients %}
                            <a href="../product_details/{{v.id}}"  data-color-variant-id="{{ v.id }}"><img src="{{v.productimage_set.last.image.url}}" alt="{{v.color}}" class="color-thumbnail border-2 " height='70px'></a>
                            {% endfor %} 
                        </div>
                    </div>
                </form>

                    <h6 class="mt-4"><a href="" id='addtowishlist'><i class="fa fa-heart-o col_yell me-1"></i> Add To Wishlist</a href="">
                    </h6>
                    <hr>
                    <h6 class="font_13 col_light">BRAND : <a class="col_light" href="#">{{item.product.brands.name}}</a> / <a class="col_light" href="#" id="color">{{item.color}}</a></h6>
                    <h6 class="font_13 col_light mt-3 mb-0">CATEGORY : <a class="col_light" href="#">{{item.product.category.name}}</a></h6>
                </div>
            </div>
        </div>
    </div>
</section>

  {% endblock content %}

  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addtocart').click(function (e) {
            e.preventDefault();
            console.log('clicked');
            var product_id = $(this).closest('.product_data').find('.prod_id').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log('clicked');
            
            $.ajax({
                method: "POST",
                url: "/cart/addtocart", // Update the URL to the correct endpoint
                data: {
                    'product_id': product_id,
                    csrfmiddlewaretoken: token
                },
                dataType: 'json', // or the appropriate data type
                success: function (response) {
                    console.log(response);
                    // You can handle the response here, e.g., update the cart icon or show a success message.
                    if (response.success) {
                        Swal.fire({
                          title: 'Item Added to Cart',
                          text: 'Your item has been added to the cart.',
                          icon: 'success',
                        });
                        // Update the cart count badge
                        $('#cart-count-badge').text(response.cart_count);
                      } else {
                        Swal.fire({
                          title: 'Error',
                          text: 'Already in cart',
                          icon: 'error',
                        });
                      }
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                    // Handle the error, e.g., display an error message.
                }
            });
        });
        $('#addtowishlist').click(function (e) {
            e.preventDefault();
            console.log('clicked');
            var product_id = $(this).closest('.product_data').find('.prod_id').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();
            console.log('clicked');
            
            $.ajax({
                method: "POST",
                url: "/wishlist/addtowishlist", // Update the URL to the correct endpoint
                data: {
                    'product_id': product_id,
                    csrfmiddlewaretoken: token
                },
                dataType: 'json', // or the appropriate data type
                success: function (response) {
                    console.log(response);
                    // You can handle the response here, e.g., show a success message or update the wishlist icon.
                    if (response.success) {
                        Swal.fire({
                            title: 'Item Added to Wishlist',
                            text: 'Your item has been added to the wishlist.',
                            icon: 'success',
                        });
                        // Update the wishlist count badge if needed
                        $('#wishlist-count-badge').text(response.wishlist_count);
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: 'Already in wishlist',
                            icon: 'error',
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                    // Handle the error, e.g., display an error message.
                }
            });
        });
        

        // Add an event listener to each color image
        $('.color-images a').click(function (e) {
            e.preventDefault();
            var color_variant_id = $(this).data('color-variant-id'); // You should add a data attribute to store the ColorVariant's ID in the anchor tag

            $.ajax({
                method: 'GET',
                url: `/get_color_variant_details/${color_variant_id}`, // Update the URL to match your endpoint
                dataType: 'json',
                success: function (response) {
                    // Update the price, discount price, and color on the page
                    if(response.discount > 0){
                        $('#price-span').show();  // Show the #price element
                        $('#price').text(response.price);
                    }else{
                        $('#price-span').hide();  // Hide the #price element

                    }
                    $('#discounted_price').text(response.discounted_price);
                    $('#color').text(response.color);
                    $('#quantity').text(response.quantity);
                    $('#id').text(response.id);

                   


                    // Assume you have a list of image URLs for the selected color variant
                    var imageUrls = response.image_urls;

                    // Clear existing carousel items
                    $('.carousel-inner').empty();

                    // Create and append new carousel items based on the image URLs
                    imageUrls.forEach(function (imageUrl, index) {
                        var isActive = index === 0 ? 'active' : '';
                        var id = `main-img-${index}`;
                        var carouselItem = `
                            <div class="carousel-item ${isActive}">
                                <center>
                                    <img src="${imageUrl}" class="d-block" height="500px" alt="abc" id="${id}">
                                </center>
                            </div>`;
                        $('.carousel-inner').append(carouselItem);
                    });
                    

                    // Assume you have a new product ID from a response, e.g., from an API call
                    var newProductId = response.id;

                    // Update the value of the hidden input
                    $('#product-id').val(newProductId);
                    
                    
                    // Update the availability status based on the quantity
                    if (response.quantity > 0) {
                        $('#availability-status').text('In Stock').removeClass('bg-danger').addClass('bg_yell');
                        $('#addtocart').removeClass('bg-secondary').addClass('bg-warning').prop('disabled', false);
                    } else {
                        $('#availability-status').text('Out of Stock').removeClass('bg_yell').addClass('bg-danger');
                        $('#addtocart').removeClass('bg-warning').addClass('bg-secondary').prop('disabled', true);
                    }


                },
                error: function (xhr, status, error) {
                    console.log('Error:', error);
                    // Handle the error, e.g., display an error message.
                }
            });
        });
    });
</script>

<script>
    // Zoom 0
  {
  const mainImage = document.querySelector('.main-image');
  const img = document.getElementById('main-img-0');
  
  mainImage.addEventListener('mousemove', zoomIn);
  mainImage.addEventListener('mouseleave', zoomOut);
  
  function zoomIn(event) {
    const boundingRect = mainImage.getBoundingClientRect();
    const mouseX = event.clientX - boundingRect.left;
    const mouseY = event.clientY - boundingRect.top;
  
    const offsetX = (mouseX / boundingRect.width) * 100;
    const offsetY = (mouseY / boundingRect.height) * 100;
  
    img.style.transformOrigin = `${offsetX}% ${offsetY}%`;
    img.style.transform = 'scale(2)'; // Adjust the scale factor as desired
  }
  
  function zoomOut() {
    img.style.transform = 'scale(1)';
  }
  }
  
  // Zoom 1
  {
  const mainImage1 = document.querySelector('.main-image');
  const img1 = document.getElementById('main-img-1');
  
  mainImage1.addEventListener('mousemove', zoomIn1);
  mainImage1.addEventListener('mouseleave', zoomOut1);
  
  function zoomIn1(event) {
    const boundingRect1 = mainImage1.getBoundingClientRect();
    const mouseX1 = event.clientX - boundingRect1.left;
    const mouseY1 = event.clientY - boundingRect1.top;
  
    const offsetX1 = (mouseX1 / boundingRect1.width) * 100;
    const offsetY1 = (mouseY1 / boundingRect1.height) * 100;
  
    img1.style.transformOrigin = `${offsetX1}% ${offsetY1}%`;
    img1.style.transform = 'scale(2)'; // Adjust the scale factor as desired
  }
  
  function zoomOut1() {
    img1.style.transform = 'scale(1)';
  }
  }
  
  // Zoom 2
  {
  const mainImage2 = document.querySelector('.main-image');
  const img2 = document.getElementById('main-img-2');
  
  mainImage2.addEventListener('mousemove', zoomIn2);
  mainImage2.addEventListener('mouseleave', zoomOut2);
  
  function zoomIn2(event) {
    const boundingRect2 = mainImage2.getBoundingClientRect();
    const mouseX2 = event.clientX - boundingRect2.left;
    const mouseY2 = event.clientY - boundingRect2.top;
  
    const offsetX2 = (mouseX2 / boundingRect2.width) * 100;
    const offsetY2 = (mouseY2 / boundingRect2.height) * 100;
  
    img2.style.transformOrigin = `${offsetX2}% ${offsetY2}%`;
    img2.style.transform = 'scale(2)'; // Adjust the scale factor as desired
  }
  
  function zoomOut2() {
    img2.style.transform = 'scale(1)';
  }
  }
  
  // Zoom 3
  {
  const mainImage3 = document.querySelector('.main-image');
  const img3 = document.getElementById('main-img-3');
  
  mainImage3.addEventListener('mousemove', zoomIn3);
  mainImage3.addEventListener('mouseleave', zoomOut3);
  
  function zoomIn3(event) {
    const boundingRect3 = mainImage3.getBoundingClientRect();
    const mouseX3 = event.clientX - boundingRect3.left;
    const mouseY3 = event.clientY - boundingRect3.top;
  
    const offsetX3 = (mouseX3 / boundingRect3.width) * 100;
    const offsetY3 = (mouseY3 / boundingRect3.height) * 100;
  
    img3.style.transformOrigin = `${offsetX3}% ${offsetY3}%`;
    img3.style.transform = 'scale(2)'; // Adjust the scale factor as desired
  }
  
  function zoomOut3() {
    img3.style.transform = 'scale(1)';
  }
  }
  
  </script>

{% endblock scripts %}

