{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block css %}<link href="{% static 'home/css/index.css' %}" rel="stylesheet" />{% endblock css %}
{% block home %}active{% endblock home %}
<!-- content -->

{% block content %}
<section id="center" class="center_home">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"
          class="" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'home/image/banner1.jpg' %} " class="d-block w-100" alt="..." height='800px'/>
          <div class="carousel-caption d-md-block">
            <h1 class="text-white fw-normal font_50 text-uppercase">
              Top Deal Today ! <br />
              <span class="fw-bold">Smart Watch</span>
            </h1>
            <p class="fs-6 mt-4">
              Get up to <span class="col_yell fw-bold">50%</span> off Today
              Only
            </p>
            <h6 class="text-uppercase mt-4 mb-0">
              <a class="button" href="#">SHOP NOW</a>
            </h6>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'home/image/banner2.jpg' %} " class="d-block w-100" alt="..." height='800px'/>
          <div class="carousel-caption d-md-block">
            <h1 class="text-white fw-normal font_50 text-uppercase">
              Top Deal Today ! <br />
              <span class="fw-bold">Smart Phone</span>
            </h1>
            <p class="fs-6 mt-4">
              Get up to <span class="col_yell fw-bold">50%</span> off Today
              Only
            </p>
            <h6 class="text-uppercase mt-4 mb-0">
              <a class="button" href="#">SHOP NOW</a>
            </h6>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'home/image/banner3.jpg' %} " class="d-block w-100" alt="..."  height='800px'/>
          <div class="carousel-caption d-md-block">
            <h1 class="text-white fw-normal font_50 text-uppercase">
              Top Deal Today ! <br />
              <span class="fw-bold">Headphone</span>
            </h1>
            <p class="fs-6 mt-4">
              Get up to <span class="col_yell fw-bold">50%</span> off Today
              Only
            </p>
            <h6 class="text-uppercase mt-4 mb-0">
              <a class="button" href="#">SHOP NOW</a>
            </h6>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section id="prod" class="pt-4 pb-4">
    <div class="container-xl">
      <div class="row prod_1 mb-4 text-center">
        <div class="col-md-12">
          <h4 class="h_line mb-0">Super Deals</h4>
        </div>
      </div>
      <div class="row prod_2 text-center">

{% comment %} 
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="detail.html">Sed Cursus Ante</a></h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div> 
    {% endcomment %}

        {% for item in obj %}
        
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="../shop/product_details/{{item.id}}"><img src="{% get_media_prefix %}{{item.image1}}"  alt="abc" width="" height="300px"/></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="../shop/product_details/{{item.id}}">{{item.name}}</a></h6>
              <h6 class="fw-normal mt-2">
                RS {{item.price}} <span class="me-2 ms-2">|</span> {{item.discount}}% off 
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        
        {% endfor %}

{% comment %} 

        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="detail.html">Nulla Quis Sem</a></h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3">
                <a href="detail.html">Lorem Ipsum Dolor</a>
              </h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="detail.html">Integer Nec Odio</a></h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="detail.html">Sed Cursus Ante</a></h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="detail.html">Nulla Quis Sem</a></h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3">
                <a href="detail.html">Lorem Ipsum Dolor</a>
              </h6>
              <h6 class="fw-normal mt-2">
                US $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
          <div class="prod_2im position-relative clearfix">
            <div class="prod_2i1 clearfix">
              <div class="grid clearfix">
                <figure class="effect-jazz mb-0">
                  <a href="detail.html"><img src="{% static 'home/image/6.jpg' %}" class="w-100" alt="abc" /></a>
                </figure>
              </div>
            </div>
            <div class="prod_2i2 pb-2 clearfix">
              <h6 class="mt-3"><a href="detail.html">Integer Nec Odio</a></h6>
              <h6 class="fw-normal mt-2">
                RS $ 16.39 <span class="me-2 ms-2">|</span> { 40% off }
              </h6>
            </div>
            <div class="prod_2i3 clearfix position-absolute">
              <h6 class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3">
                NEW
              </h6>
            </div>
          </div>
        </div>

 {% endcomment %}

      </div>
    </div>
    </div>

  </section>


<!-- content -->
{% endblock content %}


