{% extends 'home/base.html' %}
{% load static %}
{% block title %} My orders{% endblock title %}
{% block css %}<link href="{% static 'home/css/cart.css' %}" rel="stylesheet" />  
<style>
  td, th{
    text-align: center;
    vertical-align: middle;
  }
  th{
    height:50px;
  }

</style>

{% endblock css %}

{% block content %}
  
<section id="center" class="center_o pt-4 pb-4 bg-light">
  <div class="container-xl">
    <div class="row center_o1 text-center">
      <div class="col-md-12">
        <h1>MY ORDERS</h1>

      </div>
    </div>
  </div>
</section>

<section id="cart_page" class="cart pt-4 pb-4">
  <div class="container-xl">
    
        {% if not order_items %}
        <div class="empty-cart-message">
          <center>
            <i class="fa-solid fa-bag-shopping my-3 opacity-75" style="color: #000000; font-size:90px"></i>
            <h2 class="cart-heading" >You have no Orders Yet</h2>
            <p class="cart-subheading text-secondary">There are no items in your Orders. <br> Order items from Shop13</p>
            <a href="{% url "shop" %}" class="btn btn-warning rounded-0 shop-now-btn text-light fw-bold px-4 py-2">SHOP NOW</a>
          </center>
        </div>
      {% else %}
      <table class="table table-light ">
        <thead> 
          <tr class="custom-th">
            <th scope="col">Product Image</th>
            <th scope="col">Product</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col">Payment method</th>
            <th scope="col">Order Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for order in order_items %}
        <tr>
          <td><img src='{{order.variant.productimage_set.last.image.url}}' height='100px'></td>
          <td>{{order.variant.product.name}}</td>
          <td>{{order.variant.color}}</td>
          <td>{{order.price}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.total_price}}</td>
          <td>{{order.order.payment_method}}</td>
          <td><span class="badge {% if order.status == "Cancelled" %}text-danger {% elif order.status == "Delivered" %} text-success {% elif order.status == "Order confirmed" %} text-warning {% else %}text-primary{% endif %}">{{order.status}}<span></td>
          {% if order.status == "Cancelled" or order.status == "Returned" %}
          <td><a href="../product_details/{{order.variant.id}}" class="btn btn-sm btn-outline-primary">View Product<a></td>
          {% elif order.status == "Delivered" %}
          <td><a href="#Return-{{forloop.counter}}" class="btn btn-sm btn-outline-secondary" data-toggle="modal">Return Order<a></td>

          {% else %}
          <td><a href="#deleteAddress-{{forloop.counter}}" class="delete btn btn-sm btn-outline-danger" data-toggle="modal">Cancel Order<a></td>
          {% endif %}
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  {% endif %}
    {% comment %} Cancel Modal {% endcomment %}
    {% for order in order_items %}
    <div id="deleteAddress-{{forloop.counter}}" class="modal fade">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">						
                  <h4 class="modal-title">Cancel Order!</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">					
                  <p>Are you sure to Cancel this Order?</p>
                  <p class="text-warning"><small>{{order.variant.product.name}}, {{order.variant.color}}</small></p>
              </div>
              <div class="modal-footer">
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                  <a href="cancel_order/{{order.id}}" type="submit" class="btn btn-danger">Cancel Order</a>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}

{% comment %} Return Modal {% endcomment %}
{% for order in order_items %}
<div id="Return-{{forloop.counter}}" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">						
              <h4 class="modal-title">Return Order!</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">					
              <p>Are you sure to Return this Order?</p>
              <p class="text-warning"><small>{{order.variant.product.name}}, {{order.variant.color}}</small></p>
          </div>
          <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <a href="return_order/{{order.id}}" type="submit" class="btn btn-secondary">Return Order</a>
          </div>
      </div>
  </div>
</div>
{% endfor %}

  </div>
</section>

{% endblock %}
{% block scripts %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock scripts %}
