{% extends 'home/base.html' %}
{% load static %} 
{% block css %}<link href="{% static 'home/css/product.css' %}" rel="stylesheet"/>{% endblock css %}
{% block shop %}active{% endblock shop %}
{% block title %} Shop {% endblock title %}
{% block content%}
<section id="center" class="center_o pt-4 pb-4 bg-light">
  <div class="container-xl">
    <div class="row center_o1 text-center">
      <div class="col-md-12">
        <h1>SHOP</h1>
      </div>
    </div>
  </div>
</section>

<section id="prod_pg" class="pb-4 bg_light_1">
  <div class="container-fluid">
    <div class="row prod_pg1">
      <div class="col-md-12 col-lg-3">
        <div class="prod_pg1l">
          <div class="prod_pg1l1 bg-white p-4">
            <h6 class="mb-3">PRODUCT CATEGORIES</h6>
            {% for item in categories_nav %}
            <div class="prod_pg1l1i row mt-2">
              <div class="col-md-10 col-10">
                <div class="prod_pg1l1il">
                  <h6 class="font_14 fw-normal mt-1">
                    <a href="#"
                      ><i class="fa fa-circle-o me-1 col_yell"></i> {{item.name}}</a
                    >
                  </h6>
                </div>
              </div>
              {% comment %} <div class="col-md-2 col-2">
                <div class="prod_pg1l1ir text-end">
                  <h6 class="d-inline-block bg_light font_13">23</h6>
                </div>
              </div> {% endcomment %}
            </div>
            {% endfor %}
            
          </div>
          <div class="prod_pg1l1 bg-white p-4 mt-4">
            <h6 class="mb-3">FILTER BY PRICE</h6>
            <input type="range" class="form-range" id="customRange1" />
            <h6 class="mb-0 col_light font_13 mt-3">PRICE: $42 - $530</h6>
          </div>

          <div class="prod_pg1l1 bg-white p-4 mt-4">
            <h6 class="mb-3">PRODUCT BRAND</h6>
            <div class="prod_pg1l1il">
              <div class="row">
                {% for item in brands_nav %}
                <h6 class="font_14 fw-normal mt-3 col-lg-12 col-md-6 col-sm-6">
                  <a href="#"
                    ><i class="fa fa-circle-o me-1 col_yell"></i> {{item.name}}</a
                  >
                </h6>
                {% endfor %}
                
              </div>
              <hr />
            </div>

            <hr />
            <h6 class="mb-3">FILTER COLOR</h6>
            <div class="row m-0">
              {% for item in colors_nav %}
              <div class="form-check col-md-6 col-6 col-lg-12 mt-2">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="customCheck1"
                />
                <label class="form-check-label" for="customCheck1"
                  ><a href="#">{{item.name}}</a></label
                >
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-9">
        <div class="prod_pg1r">
          <div class="prod_pg1r2 row">
            {% for item in obj %}
            <div class="col-md-4 mt-4">
              <div class="prodinm clearfix">
                <div class="prod_2im position-relative clearfix">
                  <div class="prod_2i1 clearfix">
                    <div class="grid clearfix">
                      <figure class="effect-jazz mb-0">
                        <a href="../product_details/{{item.id}}"
                          ><img
                            src="{% get_media_prefix %}{{item.image1}}"
                            height = '300px'
                            alt="abc"
                        /></a>
                      </figure>
                    </div>
                  </div>

                  <div class="prod_2i3 clearfix position-absolute w-100">
                    <h6
                      class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3"
                    >
                      NEW
                    </h6>
                    <h6
                      class="bg_yell d-inline-block pt-1 pb-1 font_13 text-white ps-3 pe-3 pull-right"
                    >
                      {{item.discount}}%
                    </h6>
                  </div>
                  <div
                    class="prod_2in clearfix position-absolute bg-light w-100 p-3 text-center"
                  >
                    <ul class="mb-0">
                      <li class="d-inline-block me-3">
                        <a href="#"><i class="fa fa-heart"></i></a>
                      </li>
                      <li class="d-inline-block me-3">
                        <a href="#"
                          ><i class="fa fa-shopping-cart"></i
                        ></a>
                      </li>
                      <li class="d-inline-block">
                        <a href="product_details/{{item.id}}"><i class="fa fa-eye"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="prod_2i2 pt-4 pb-4 ps-3 pe-3 bg-white clearfix">
                  <span class="col_yell">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                  </span>
                  <h6 class="mt-2">
                    <a href="product_details/{{item.id}}">{{item.name}}</a>
                  </h6>
                  <h6 class="font_13">
                    <a class="col_light" href="product_details/{{item.id}}">{{item.brands.name}} / {{item.color.name}}</a>
                  </h6>
                  <hr />
                  <h6 class="fw-normal mb-0">
                    <span class="text-decoration-line-through col_light"
                      >	&#8377;{{item.price}}</span
                    >
                    <span class="pull-right fw-bold col_yell">&#8377;{{item.price}}</span>
                  </h6>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

          <div class="pages mt-4 row text-center bg_light ms-0 me-0 pt-4 pb-4">
            <div class="col-md-12">
              <ul class="mb-0">
                <li>
                  <a href="#"><i class="fa fa-chevron-left"></i></a>
                </li>
                <li class="act"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li>
                  <a href="#"><i class="fa fa-chevron-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
