--
-- PostgreSQL database dump
--

-- Dumped from database version 16rc1
-- Dumped by pg_dump version 16rc1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO postgres;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO postgres;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: admin_panel_banners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_panel_banners (
    id bigint NOT NULL,
    subtitle character varying(50) NOT NULL,
    title character varying(50) NOT NULL,
    description character varying(50) NOT NULL,
    image character varying(100) NOT NULL,
    variant_id bigint,
    is_listed boolean NOT NULL
);


ALTER TABLE public.admin_panel_banners OWNER TO postgres;

--
-- Name: admin_panel_banners_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_panel_banners ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.admin_panel_banners_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_cart (
    id bigint NOT NULL,
    prod_quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL,
    cart_price integer NOT NULL,
    CONSTRAINT cart_cart_cart_price_check CHECK ((cart_price >= 0))
);


ALTER TABLE public.cart_cart OWNER TO postgres;

--
-- Name: cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupons_coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupons_coupons (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    code character varying(50) NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    minimum_purchase numeric(10,2),
    expiration_date date NOT NULL,
    usage_limit integer NOT NULL,
    used_count integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT coupons_coupons_usage_limit_check CHECK ((usage_limit >= 0)),
    CONSTRAINT coupons_coupons_used_count_check CHECK ((used_count >= 0))
);


ALTER TABLE public.coupons_coupons OWNER TO postgres;

--
-- Name: coupons_coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.coupons_coupons ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupons_coupons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupons_couponusage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupons_couponusage (
    id bigint NOT NULL,
    total_amount integer,
    applied_on timestamp with time zone NOT NULL,
    coupon_id bigint,
    user_id bigint,
    CONSTRAINT coupons_couponusage_total_amount_check CHECK ((total_amount >= 0))
);


ALTER TABLE public.coupons_couponusage OWNER TO postgres;

--
-- Name: coupons_couponusage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.coupons_couponusage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupons_couponusage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO postgres;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: home_contact; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.home_contact (
    id bigint NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    phone character varying(15) NOT NULL,
    email character varying(50) NOT NULL,
    message text NOT NULL
);


ALTER TABLE public.home_contact OWNER TO postgres;

--
-- Name: home_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.home_contact ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.home_contact_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orders (
    order_id character varying(8) NOT NULL,
    order_date timestamp with time zone NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    payment_method character varying(255) NOT NULL,
    quantity integer NOT NULL,
    expected_delivery_date date,
    delivered_date date,
    address_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT orders_orders_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orders OWNER TO postgres;

--
-- Name: orders_ordersitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_ordersitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    order_id character varying(8) NOT NULL,
    variant_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    modified_time timestamp with time zone NOT NULL,
    CONSTRAINT orders_ordersitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_ordersitem OWNER TO postgres;

--
-- Name: orders_ordersitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_ordersitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_ordersitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: paypal_ipn; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paypal_ipn (
    id bigint NOT NULL,
    business character varying(127) NOT NULL,
    charset character varying(255) NOT NULL,
    custom character varying(256) NOT NULL,
    notify_version numeric(64,2),
    parent_txn_id character varying(19) NOT NULL,
    receiver_email character varying(254) NOT NULL,
    receiver_id character varying(255) NOT NULL,
    residence_country character varying(2) NOT NULL,
    test_ipn boolean NOT NULL,
    txn_id character varying(255) NOT NULL,
    txn_type character varying(255) NOT NULL,
    verify_sign character varying(255) NOT NULL,
    address_country character varying(64) NOT NULL,
    address_city character varying(40) NOT NULL,
    address_country_code character varying(64) NOT NULL,
    address_name character varying(128) NOT NULL,
    address_state character varying(40) NOT NULL,
    address_status character varying(255) NOT NULL,
    address_street character varying(200) NOT NULL,
    address_zip character varying(20) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    first_name character varying(64) NOT NULL,
    last_name character varying(64) NOT NULL,
    payer_business_name character varying(127) NOT NULL,
    payer_email character varying(127) NOT NULL,
    payer_id character varying(13) NOT NULL,
    auth_amount numeric(64,2),
    auth_exp character varying(28) NOT NULL,
    auth_id character varying(19) NOT NULL,
    auth_status character varying(255) NOT NULL,
    exchange_rate numeric(64,16),
    invoice character varying(127) NOT NULL,
    item_name character varying(127) NOT NULL,
    item_number character varying(127) NOT NULL,
    mc_currency character varying(32) NOT NULL,
    mc_fee numeric(64,2),
    mc_gross numeric(64,2),
    mc_handling numeric(64,2),
    mc_shipping numeric(64,2),
    memo character varying(255) NOT NULL,
    num_cart_items integer,
    option_name1 character varying(64) NOT NULL,
    option_name2 character varying(64) NOT NULL,
    payer_status character varying(255) NOT NULL,
    payment_date timestamp with time zone,
    payment_gross numeric(64,2),
    payment_status character varying(255) NOT NULL,
    payment_type character varying(255) NOT NULL,
    pending_reason character varying(255) NOT NULL,
    protection_eligibility character varying(255) NOT NULL,
    quantity integer,
    reason_code character varying(255) NOT NULL,
    remaining_settle numeric(64,2),
    settle_amount numeric(64,2),
    settle_currency character varying(32) NOT NULL,
    shipping numeric(64,2),
    shipping_method character varying(255) NOT NULL,
    tax numeric(64,2),
    transaction_entity character varying(255) NOT NULL,
    auction_buyer_id character varying(64) NOT NULL,
    auction_closing_date timestamp with time zone,
    auction_multi_item integer,
    for_auction numeric(64,2),
    amount numeric(64,2),
    amount_per_cycle numeric(64,2),
    initial_payment_amount numeric(64,2),
    next_payment_date timestamp with time zone,
    outstanding_balance numeric(64,2),
    payment_cycle character varying(255) NOT NULL,
    period_type character varying(255) NOT NULL,
    product_name character varying(255) NOT NULL,
    product_type character varying(255) NOT NULL,
    profile_status character varying(255) NOT NULL,
    recurring_payment_id character varying(255) NOT NULL,
    rp_invoice_id character varying(127) NOT NULL,
    time_created timestamp with time zone,
    amount1 numeric(64,2),
    amount2 numeric(64,2),
    amount3 numeric(64,2),
    mc_amount1 numeric(64,2),
    mc_amount2 numeric(64,2),
    mc_amount3 numeric(64,2),
    password character varying(24) NOT NULL,
    period1 character varying(255) NOT NULL,
    period2 character varying(255) NOT NULL,
    period3 character varying(255) NOT NULL,
    reattempt character varying(1) NOT NULL,
    recur_times integer,
    recurring character varying(1) NOT NULL,
    retry_at timestamp with time zone,
    subscr_date timestamp with time zone,
    subscr_effective timestamp with time zone,
    subscr_id character varying(19) NOT NULL,
    username character varying(64) NOT NULL,
    case_creation_date timestamp with time zone,
    case_id character varying(255) NOT NULL,
    case_type character varying(255) NOT NULL,
    receipt_id character varying(255) NOT NULL,
    currency_code character varying(32) NOT NULL,
    handling_amount numeric(64,2),
    transaction_subject character varying(256) NOT NULL,
    ipaddress inet,
    flag boolean NOT NULL,
    flag_code character varying(16) NOT NULL,
    flag_info text NOT NULL,
    query text NOT NULL,
    response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    from_view character varying(6),
    mp_id character varying(128),
    option_selection1 character varying(200) NOT NULL,
    option_selection2 character varying(200) NOT NULL
);


ALTER TABLE public.paypal_ipn OWNER TO postgres;

--
-- Name: paypal_ipn_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.paypal_ipn ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.paypal_ipn_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_brand; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_brand (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_listed boolean NOT NULL
);


ALTER TABLE public.products_brand OWNER TO postgres;

--
-- Name: products_brand_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_brand ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_brand_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_category (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    is_listed boolean NOT NULL
);


ALTER TABLE public.products_category OWNER TO postgres;

--
-- Name: products_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_colorvarient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_colorvarient (
    id bigint NOT NULL,
    color character varying(10) NOT NULL,
    quantity integer NOT NULL,
    product_id bigint NOT NULL,
    is_listed boolean NOT NULL,
    price integer NOT NULL,
    category_offer numeric(5,2) NOT NULL,
    product_offer numeric(5,2) NOT NULL,
    CONSTRAINT products_colorvarient_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.products_colorvarient OWNER TO postgres;

--
-- Name: products_colorvarient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_colorvarient ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_colorvarient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    is_listed boolean NOT NULL,
    brands_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.products_product OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    varient_id bigint
);


ALTER TABLE public.products_productimage OWNER TO postgres;

--
-- Name: products_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO postgres;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    provider_id character varying(200) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO postgres;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp_sites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialapp_sites (
    id bigint NOT NULL,
    socialapp_id integer NOT NULL,
    site_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialapp_sites OWNER TO postgres;

--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialapp_sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO postgres;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userlogin_address; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userlogin_address (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    phone character varying(50) NOT NULL,
    street_address text NOT NULL,
    city character varying(50) NOT NULL,
    state character varying(50) NOT NULL,
    pin_code integer NOT NULL,
    user_id bigint,
    is_present boolean NOT NULL
);


ALTER TABLE public.userlogin_address OWNER TO postgres;

--
-- Name: userlogin_address_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userlogin_address ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userlogin_address_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userlogin_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userlogin_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    phone character varying(50) NOT NULL,
    fullname character varying(100) NOT NULL,
    otp character varying(6),
    referral_code character varying(6),
    otp_expiry timestamp with time zone NOT NULL,
    forget_password_token character varying(100)
);


ALTER TABLE public.userlogin_customuser OWNER TO postgres;

--
-- Name: userlogin_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userlogin_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.userlogin_customuser_groups OWNER TO postgres;

--
-- Name: userlogin_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userlogin_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userlogin_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userlogin_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userlogin_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userlogin_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userlogin_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userlogin_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.userlogin_customuser_user_permissions OWNER TO postgres;

--
-- Name: userlogin_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userlogin_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userlogin_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wallet_wallet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallet_wallet (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    transaction_type character varying(50),
    transaction_details character varying(50),
    amount integer NOT NULL,
    balance integer NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT wallet_wallet_amount_check CHECK ((amount >= 0)),
    CONSTRAINT wallet_wallet_balance_check CHECK ((balance >= 0))
);


ALTER TABLE public.wallet_wallet OWNER TO postgres;

--
-- Name: wallet_wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wallet_wallet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wallet_wallet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: wishlist_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlist_wishlist (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    variant_id bigint NOT NULL
);


ALTER TABLE public.wishlist_wishlist OWNER TO postgres;

--
-- Name: wishlist_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wishlist_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wishlist_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: admin_panel_banners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_panel_banners (id, subtitle, title, description, image, variant_id, is_listed) FROM stdin;
4	SUBITLE	TITLEs	DESSssssssssssssssss	banners/812850_CVGGZvX.jpg	23	f
1	ARRIVED GYRO	TIME TO BUY!	RS CHRONO WATCHES IS NOW AVAILABLE	banners/RS-Chrono-Custom-Engraved-Backplate-Image_54efa5b5-0cae-463d-8e8a-74a982be48f8.webp	14	t
2	PREMIUM OFFER	UNBELIEVABLE!!	GET 25% OFF ON ROLEX DAY-DATE	banners/rolex-day-date-228348rbr-grenrom-multiple-2.webp	30	t
3	TITANIUM	SPLASHING OFFER!	TITAN NEO SPLASH IS AVAILABLE NOW	banners/admin_login.jpg	18	t
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cart_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_cart (id, prod_quantity, created_at, product_id, user_id, cart_price) FROM stdin;
241	1	2023-11-29 11:23:45.73051+05:30	31	42	2000
\.


--
-- Data for Name: coupons_coupons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: coupons_couponusage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coupons_couponusage (id, total_amount, applied_on, coupon_id, user_id) FROM stdin;
17	\N	2023-11-14 11:55:07.928015+05:30	5	\N
23	\N	2023-11-16 09:31:12.962263+05:30	2	\N
24	\N	2023-11-16 14:19:11.327102+05:30	3	\N
30	\N	2023-11-29 20:09:08.631529+05:30	3	53
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_site (id, domain, name) FROM stdin;
2	example.com	example.com
\.


--
-- Data for Name: home_contact; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_ordersitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: paypal_ipn; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_brand; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_brand (id, name, is_listed) FROM stdin;
2	Rolex	t
3	Casio	t
4	RS Chrono	t
5	Fastrack	t
6	Police	t
1	Titan	t
10	Zoop	t
7	Timex	f
\.


--
-- Data for Name: products_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_category (id, name, is_listed) FROM stdin;
1	Men	t
2	Female	t
3	Kids	t
\.


--
-- Data for Name: products_colorvarient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialaccount (id, provider, uid, last_login, date_joined, extra_data, user_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialapp (id, provider, name, client_id, secret, key, provider_id, settings) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp_sites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialapp_sites (id, socialapp_id, site_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Data for Name: userlogin_address; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: userlogin_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: userlogin_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userlogin_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: userlogin_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userlogin_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: wallet_wallet; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wishlist_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wishlist_wishlist (id, user_id, variant_id) FROM stdin;
17	53	30
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 1, false);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: admin_panel_banners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_panel_banners_id_seq', 4, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 112, true);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_cart_id_seq', 246, true);


--
-- Name: coupons_coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupons_coupons_id_seq', 6, true);


--
-- Name: coupons_couponusage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupons_couponusage_id_seq', 30, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 237, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 28, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 99, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_site_id_seq', 2, true);


--
-- Name: home_contact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.home_contact_id_seq', 2, true);


--
-- Name: orders_ordersitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_ordersitem_id_seq', 141, true);


--
-- Name: paypal_ipn_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.paypal_ipn_id_seq', 1, false);


--
-- Name: products_brand_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_brand_id_seq', 10, true);


--
-- Name: products_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_category_id_seq', 6, true);


--
-- Name: products_colorvarient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_colorvarient_id_seq', 33, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 14, true);


--
-- Name: products_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productimage_id_seq', 137, true);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_sites_id_seq', 1, false);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: userlogin_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userlogin_address_id_seq', 15, true);


--
-- Name: userlogin_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userlogin_customuser_groups_id_seq', 1, false);


--
-- Name: userlogin_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userlogin_customuser_id_seq', 54, true);


--
-- Name: userlogin_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userlogin_customuser_user_permissions_id_seq', 1, false);


--
-- Name: wallet_wallet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wallet_wallet_id_seq', 49, true);


--
-- Name: wishlist_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wishlist_wishlist_id_seq', 17, true);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: admin_panel_banners admin_panel_banners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_panel_banners
    ADD CONSTRAINT admin_panel_banners_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: cart_cart cart_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_pkey PRIMARY KEY (id);


--
-- Name: coupons_coupons coupons_coupons_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons_coupons
    ADD CONSTRAINT coupons_coupons_code_key UNIQUE (code);


--
-- Name: coupons_coupons coupons_coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons_coupons
    ADD CONSTRAINT coupons_coupons_pkey PRIMARY KEY (id);


--
-- Name: coupons_couponusage coupons_couponusage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons_couponusage
    ADD CONSTRAINT coupons_couponusage_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: home_contact home_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.home_contact
    ADD CONSTRAINT home_contact_pkey PRIMARY KEY (id);


--
-- Name: orders_orders orders_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orders
    ADD CONSTRAINT orders_orders_pkey PRIMARY KEY (order_id);


--
-- Name: orders_ordersitem orders_ordersitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_ordersitem
    ADD CONSTRAINT orders_ordersitem_pkey PRIMARY KEY (id);


--
-- Name: paypal_ipn paypal_ipn_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paypal_ipn
    ADD CONSTRAINT paypal_ipn_pkey PRIMARY KEY (id);


--
-- Name: products_brand products_brand_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_brand
    ADD CONSTRAINT products_brand_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_pkey PRIMARY KEY (id);


--
-- Name: products_colorvarient products_colorvarient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_colorvarient
    ADD CONSTRAINT products_colorvarient_pkey PRIMARY KEY (id);


--
-- Name: products_product products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_pkey PRIMARY KEY (id);


--
-- Name: products_productimage products_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimage_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq UNIQUE (socialapp_id, site_id);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp_sites_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: userlogin_address userlogin_address_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_address
    ADD CONSTRAINT userlogin_address_pkey PRIMARY KEY (id);


--
-- Name: userlogin_customuser_groups userlogin_customuser_gro_customuser_id_group_id_ec1216c3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_groups
    ADD CONSTRAINT userlogin_customuser_gro_customuser_id_group_id_ec1216c3_uniq UNIQUE (customuser_id, group_id);


--
-- Name: userlogin_customuser_groups userlogin_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_groups
    ADD CONSTRAINT userlogin_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: userlogin_customuser userlogin_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser
    ADD CONSTRAINT userlogin_customuser_pkey PRIMARY KEY (id);


--
-- Name: userlogin_customuser_user_permissions userlogin_customuser_use_customuser_id_permission_15e97b74_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_user_permissions
    ADD CONSTRAINT userlogin_customuser_use_customuser_id_permission_15e97b74_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: userlogin_customuser_user_permissions userlogin_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_user_permissions
    ADD CONSTRAINT userlogin_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: userlogin_customuser userlogin_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser
    ADD CONSTRAINT userlogin_customuser_username_key UNIQUE (username);


--
-- Name: wallet_wallet wallet_wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_wallet
    ADD CONSTRAINT wallet_wallet_pkey PRIMARY KEY (id);


--
-- Name: wishlist_wishlist wishlist_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_upper; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailaddress_upper ON public.account_emailaddress USING btree (upper((email)::text));


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: admin_panel_banners_variant_id_4dcb390e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_panel_banners_variant_id_4dcb390e ON public.admin_panel_banners USING btree (variant_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: cart_cart_product_id_b5f94649; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cart_product_id_b5f94649 ON public.cart_cart USING btree (product_id);


--
-- Name: cart_cart_user_id_9b4220b9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cart_user_id_9b4220b9 ON public.cart_cart USING btree (user_id);


--
-- Name: coupons_coupons_code_a81175ca_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupons_coupons_code_a81175ca_like ON public.coupons_coupons USING btree (code varchar_pattern_ops);


--
-- Name: coupons_couponusage_coupon_id_b648d42e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupons_couponusage_coupon_id_b648d42e ON public.coupons_couponusage USING btree (coupon_id);


--
-- Name: coupons_couponusage_customer_id_62c5414b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupons_couponusage_customer_id_62c5414b ON public.coupons_couponusage USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: orders_orders_shipping_address_id_dcdeffc5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orders_shipping_address_id_dcdeffc5 ON public.orders_orders USING btree (address_id);


--
-- Name: orders_orders_user_id_55d2442b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orders_user_id_55d2442b ON public.orders_orders USING btree (user_id);


--
-- Name: orders_ordersitem_order_id_fd972bc5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_ordersitem_order_id_fd972bc5 ON public.orders_ordersitem USING btree (order_id);


--
-- Name: orders_ordersitem_variant_id_18c88291; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_ordersitem_variant_id_18c88291 ON public.orders_ordersitem USING btree (variant_id);


--
-- Name: paypal_ipn_txn_id_8fa22c44; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX paypal_ipn_txn_id_8fa22c44 ON public.paypal_ipn USING btree (txn_id);


--
-- Name: paypal_ipn_txn_id_8fa22c44_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX paypal_ipn_txn_id_8fa22c44_like ON public.paypal_ipn USING btree (txn_id varchar_pattern_ops);


--
-- Name: products_colorvarient_product_id_ae094ebc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_colorvarient_product_id_ae094ebc ON public.products_colorvarient USING btree (product_id);


--
-- Name: products_product_brands_id_01925bd0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_brands_id_01925bd0 ON public.products_product USING btree (brands_id);


--
-- Name: products_product_category_id_9b594869; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_category_id_9b594869 ON public.products_product USING btree (category_id);


--
-- Name: products_productimage_varient_id_10b7b955; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productimage_varient_id_10b7b955 ON public.products_productimage USING btree (varient_id);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialapp_sites_site_id_2579dee5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialapp_sites_site_id_2579dee5 ON public.socialaccount_socialapp_sites USING btree (site_id);


--
-- Name: socialaccount_socialapp_sites_socialapp_id_97fb6e7d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialapp_sites_socialapp_id_97fb6e7d ON public.socialaccount_socialapp_sites USING btree (socialapp_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: userlogin_address_user_id_a01c3e79; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userlogin_address_user_id_a01c3e79 ON public.userlogin_address USING btree (user_id);


--
-- Name: userlogin_customuser_groups_customuser_id_594e1ee7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userlogin_customuser_groups_customuser_id_594e1ee7 ON public.userlogin_customuser_groups USING btree (customuser_id);


--
-- Name: userlogin_customuser_groups_group_id_c2f593f4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userlogin_customuser_groups_group_id_c2f593f4 ON public.userlogin_customuser_groups USING btree (group_id);


--
-- Name: userlogin_customuser_user_permissions_customuser_id_a1c18d96; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userlogin_customuser_user_permissions_customuser_id_a1c18d96 ON public.userlogin_customuser_user_permissions USING btree (customuser_id);


--
-- Name: userlogin_customuser_user_permissions_permission_id_f1b68e3a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userlogin_customuser_user_permissions_permission_id_f1b68e3a ON public.userlogin_customuser_user_permissions USING btree (permission_id);


--
-- Name: userlogin_customuser_username_4dd7448f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userlogin_customuser_username_4dd7448f_like ON public.userlogin_customuser USING btree (username varchar_pattern_ops);


--
-- Name: wallet_wallet_user_id_8c75caaa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX wallet_wallet_user_id_8c75caaa ON public.wallet_wallet USING btree (user_id);


--
-- Name: wishlist_wishlist_user_id_13f28b16; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX wishlist_wishlist_user_id_13f28b16 ON public.wishlist_wishlist USING btree (user_id);


--
-- Name: wishlist_wishlist_variant_id_4d5b92fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX wishlist_wishlist_variant_id_4d5b92fb ON public.wishlist_wishlist USING btree (variant_id);


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_userlogin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_userlogin FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: admin_panel_banners admin_panel_banners_variant_id_4dcb390e_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_panel_banners
    ADD CONSTRAINT admin_panel_banners_variant_id_4dcb390e_fk_products_ FOREIGN KEY (variant_id) REFERENCES public.products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cart cart_cart_product_id_b5f94649_fk_products_colorvarient_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_product_id_b5f94649_fk_products_colorvarient_id FOREIGN KEY (product_id) REFERENCES public.products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cart cart_cart_user_id_9b4220b9_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_9b4220b9_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: coupons_couponusage coupons_couponusage_coupon_id_b648d42e_fk_coupons_coupons_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons_couponusage
    ADD CONSTRAINT coupons_couponusage_coupon_id_b648d42e_fk_coupons_coupons_id FOREIGN KEY (coupon_id) REFERENCES public.coupons_coupons(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: coupons_couponusage coupons_couponusage_user_id_687967d8_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons_couponusage
    ADD CONSTRAINT coupons_couponusage_user_id_687967d8_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orders orders_orders_address_id_082d1ee2_fk_userlogin_address_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orders
    ADD CONSTRAINT orders_orders_address_id_082d1ee2_fk_userlogin_address_id FOREIGN KEY (address_id) REFERENCES public.userlogin_address(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orders orders_orders_user_id_55d2442b_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orders
    ADD CONSTRAINT orders_orders_user_id_55d2442b_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_ordersitem orders_ordersitem_order_id_fd972bc5_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_ordersitem
    ADD CONSTRAINT orders_ordersitem_order_id_fd972bc5_fk FOREIGN KEY (order_id) REFERENCES public.orders_orders(order_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_ordersitem orders_ordersitem_variant_id_18c88291_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_ordersitem
    ADD CONSTRAINT orders_ordersitem_variant_id_18c88291_fk_products_ FOREIGN KEY (variant_id) REFERENCES public.products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_colorvarient products_colorvarien_product_id_ae094ebc_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_colorvarient
    ADD CONSTRAINT products_colorvarien_product_id_ae094ebc_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_brands_id_01925bd0_fk_products_brand_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_brands_id_01925bd0_fk_products_brand_id FOREIGN KEY (brands_id) REFERENCES public.products_brand(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_category_id_9b594869_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_category_id_9b594869_fk_products_category_id FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productimage products_productimag_varient_id_10b7b955_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimag_varient_id_10b7b955_fk_products_ FOREIGN KEY (varient_id) REFERENCES public.products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_site_id_2579dee5_fk_django_si; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_site_id_2579dee5_fk_django_si FOREIGN KEY (site_id) REFERENCES public.django_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc FOREIGN KEY (socialapp_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_social_user_id_8146e70c_fk_userlogin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_social_user_id_8146e70c_fk_userlogin FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userlogin_address userlogin_address_user_id_a01c3e79_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_address
    ADD CONSTRAINT userlogin_address_user_id_a01c3e79_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userlogin_customuser_groups userlogin_customuser_customuser_id_594e1ee7_fk_userlogin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_groups
    ADD CONSTRAINT userlogin_customuser_customuser_id_594e1ee7_fk_userlogin FOREIGN KEY (customuser_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userlogin_customuser_user_permissions userlogin_customuser_customuser_id_a1c18d96_fk_userlogin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_user_permissions
    ADD CONSTRAINT userlogin_customuser_customuser_id_a1c18d96_fk_userlogin FOREIGN KEY (customuser_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userlogin_customuser_groups userlogin_customuser_groups_group_id_c2f593f4_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_groups
    ADD CONSTRAINT userlogin_customuser_groups_group_id_c2f593f4_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userlogin_customuser_user_permissions userlogin_customuser_permission_id_f1b68e3a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userlogin_customuser_user_permissions
    ADD CONSTRAINT userlogin_customuser_permission_id_f1b68e3a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: wallet_wallet wallet_wallet_user_id_8c75caaa_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_wallet
    ADD CONSTRAINT wallet_wallet_user_id_8c75caaa_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: wishlist_wishlist wishlist_wishlist_user_id_13f28b16_fk_userlogin_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_user_id_13f28b16_fk_userlogin_customuser_id FOREIGN KEY (user_id) REFERENCES public.userlogin_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: wishlist_wishlist wishlist_wishlist_variant_id_4d5b92fb_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_wishlist
    ADD CONSTRAINT wishlist_wishlist_variant_id_4d5b92fb_fk_products_ FOREIGN KEY (variant_id) REFERENCES public.products_colorvarient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

