{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Add Product{% endblock title %}
{% block products %}{% endblock products %}
{% block content %}
<main id="main" class="main">
  <div class="d-flex justify-content-between">
    <div class="pagetitle">
      <h1>Add Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Admin</li>
          <li class="breadcrumb-item">Products</li>
          <li class="breadcrumb-item active">Add Product</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <a href="{% url 'products' %}" class="btn btn-danger btn-rounded h-50">Cancel</a>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add a new Product to the database</h5>
      <!-- General Form Elements -->
      <form action='' method='POST' enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="row mb-3">
          <label for="inputText" class="col-sm-2 col-form-label">Product Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" required>
            <span id="nameError" class="error-message text-danger mt-2">{% if messages %} {% for message in messages %}{{message}}{% endfor %} {% endif %}</span>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" style="height: 100px" name="description"></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name="category" required>
              {% for item in cat %}
              <option {% if forloop.counter == 1 %} selected{% endif %} value="{{item.id}}">{{item.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Brand</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" name="brand" required>
              {% for item in bnd %}
              <option {% if forloop.counter == 1 %} selected{% endif %} value="{{item.id}}">{{item.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <br><br>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Submit</label>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
        </div>
      </form><!-- End General Form Elements -->
    </div>
  </div>
</div>
</main>
<script>
  function validateForm() {
    // Get the value of the "name" input field
    var nameField = document.querySelector('input[name="name"]');
    var nameValue = nameField.value;
    
    // Define a regular expression for checking consecutive spaces
    var consecutiveSpacesRegex = /  +/;

    // Validate the name
    if (nameValue.length < 3) {
      document.getElementById("nameError").textContent = "Name must contain at least 3 letters";
      return false;
    } else if (consecutiveSpacesRegex.test(nameValue)) {
      document.getElementById("nameError").textContent = "Name cannot contain 2 consecutive spaces";
      return false;
    } else if (nameValue.trim().length < 1) {
      document.getElementById("nameError").textContent = "Name must contain at least 1 character";
      return false;
    } else {
      document.getElementById("nameError").textContent = ""; // Clear error message
      return true;
    }
  }
</script>
{% endblock content %}
