{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Add Banners{% endblock title %}
{% block banners %}{% endblock banners %}
{% block content %}

<main id="main" class="main">

  <div class="d-flex justify-content-between">
    <div class="pagetitle">
        <h1>Add Banners</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item ">Banners</li>
                <li class="breadcrumb-item active">Add Banners</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <a href="{% url "banners" %}" class="btn btn-danger btn-rounded h-50">Cancel</a>
  </div>

  <div class="card">
    <div class="card-body">
        <h5 class="card-title">Add a Banner</h5>

        <!-- General Form Elements -->
        <form action='' method='POST' id="variantForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Subtitle</label>
                <div class="col-sm-10 col-md-6">
                    <input type="text" class="form-control" name="subtitle" id="subtitle">
                    <span class="error-message text-danger mt-2" id="subtitle-error"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10 col-md-6">
                    <input type="text" class="form-control" name="title" id="title" required>
                    <span class="error-message text-danger mt-2" id="title-error"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="description" id="description" required>
                    <span class="error-message text-danger mt-2" id="description-error"></span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Images</label>
                <div class="col-sm-10 col-md-4">
                    <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                    <span class="error-message text-danger mt-2" id="images-error"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Choose Product</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" name="product">
                    <option disabled selected> Select a Product</option>
                    {% for product in products %}
                    <option value="{{product.id}}">{{product.product.name}} - {{product.color}}</option>
                    {% endfor %}
                  </select>
                  <span class="error-message text-danger mt-2" id="product-error"></span>

                </div>
              </div>

            <br><br>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Submit</label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Banners</button>
                </div>
            </div>

        </form><!-- End General Form Elements -->

    </div>
  </div>

</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
    $(document).ready(function () {
        $("#variantForm").validate({
            rules: {
                subtitle: {
                    required: true,
                    minlength: 3,
                    noConsecutiveSpaces: true
                },
                title: {
                    required: true,
                    minlength: 3,
                    noConsecutiveSpaces: true
                },
                description: {
                    required: true
                },
                image: {
                    required: true
                },
                product: {
                    required: true
                }
            },
            messages: {
                subtitle: {
                    required: "Please enter the subtitle",
                    minlength: "Subtitle must contain at least 3 characters",
                    noConsecutiveSpaces: "Subtitle cannot have consecutive spaces"
                },
                title: {
                    required: "Please enter the title",
                    minlength: "Title must contain at least 3 characters",
                    noConsecutiveSpaces: "Title cannot have consecutive spaces"
                },
                description: {
                    required: "Please enter the description"
                },
                image: {
                    required: "Please choose at least one image"
                },
                product: {
                    required: "Please choose a product"
                }
            },
            errorClass: "is-invalid",
            errorPlacement: function (error, element) {
                error.addClass("invalid-feedback");
                error.insertAfter(element);
            }
        });

        // Custom validation method
        $.validator.addMethod("noConsecutiveSpaces", function (value, element) {
            return !/\s{2,}/.test(value);
        }, "Field cannot have consecutive spaces");
    });
</script>

{% endblock content %}
