{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Dash{% endblock title %}
{% block dashboard %}{% endblock dashboard %}
{% block head %}
<style>
.sales-table td {
  text-align: center !important; /* Horizontally center the content within table cells */
  vertical-align: top !important; /* Vertically center the content within table cells */
}
</style>

{% endblock head %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Admin</li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                          <h6>Filter</h6>
                      </li>
      
                      <li><a class="dropdown-item" href="#" id="todaySales">Today</a></li>
                      <li><a class="dropdown-item" href="#" id="thisMonthSales">This Month</a></li>
                      <li><a class="dropdown-item" href="#" id="allSales">All</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Orders <span>| <span id="salesDate">All</span></span></h5>
      
                  <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                          <h6 id="salesCount">{{ order_counts }}</h6>
                          <span class="text-muted small pt-2 ps-1">Orders</span>
                      </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#" id="todayRevenue">Today</a></li>
                    <li><a class="dropdown-item" href="#" id="thisMonthRevenue">This Month</a></li>
                    <li><a class="dropdown-item" href="#" id="allRevenue">All</a></li>
                  </ul>

                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue | <span id="revenueDate">All</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-rupee"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="revenueCardAmount">&#8377;{{total_revenue}}</h6>
                      <span class="text-muted small pt-2 ps-1">Revenue</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                {% comment %} <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">All</a></li>
                  </ul>
                </div> {% endcomment %}

                <div class="card-body">
                  <h5 class="card-title">Users</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{users_count}}</h6>
                      <span class="text-muted small pt-2 ps-1">Users</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->
            

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="?orderfilter=W">Last Week</a></li>
                    <li><a class="dropdown-item" href="?orderfilter=M">Monthly</a></li>
                    <li><a class="dropdown-item" href="?orderfilter=Y">Yearly</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Orders <span>|{% if request.GET.orderfilter == 'M' %} Last Month {% elif request.GET.orderfilter == 'Y' %} Last Year {% else %} Last week{% endif %}</span></h5>
    
                  <!-- Line Chart -->
                  <canvas id="lineChart" style="max-height: 400px;"></canvas>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new Chart(document.querySelector('#lineChart'), {
                        type: 'line',
                        data: {
                          labels: [{% for day in order_count_data %}'{{ day.0 }}' ,{% endfor %}],
                          datasets: [{
                            label: 'Orders count',
                            data: [{% for data in order_count_data %} {{data.1}} ,{% endfor %}],
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                          }]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: true
                            }
                          }
                        }
                      });
                    });
                  </script>
                  <!-- End Line CHart -->
    
                </div>
              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                {% comment %} <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div> {% endcomment %}

                <div class="card-body">
                  <h5 class="card-title">Recent orders</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">SI no</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product count</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in recent_orders %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{order.user.fullname}}</td>
                        <td><a href="#" class="text-primary">Order contains {{order.ordersitem_set.count}} item(s)  </a></td>
                        <td>&#8377;{{order.total_amount}}</td>
                        <td><span class="badge {% if order.payment_method == 'razorpay' %} bg-primary {% elif order.payment_method == 'COD'%}bg-warning {% else %} success{% endif %} bg-success">{{order.payment_method}}</span></td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

          <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                  <div class="card-body">
                    <h5 class="card-title">Sales By Brand
                    </h5>

                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px;"></canvas>
                    <script>
                      
                      document.addEventListener("DOMContentLoaded", () => {
                        new Chart(document.querySelector('#barChart'), {
                          type: 'bar',
                          data: {
                            labels: [{% for item in sales_data %}'{{item.0}}' ,{% endfor %}],
                            datasets: [{
                              label: 'Sales Count',
                              data: [{% for item in sales_data %}{{item.1}} ,{% endfor %}],
                              backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                              ],
                              borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                              ],
                              borderWidth: 1
                            }]
                          },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            }
                          }
                        });
                      });
                    </script>
                    <!-- End Bar CHart -->

                  </div>


              </div>
            </div><!-- End Top Selling -->
            

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Recent Updations <span>| Today</span></h5>

              <div class="activity">

                {% for item in recent_updations %}

                <div class="activity-item d-flex">
                  <div class="activite-label">{{item.modified_time.time}}</div>
                  <i class='bi bi-circle-fill activity-badge align-self-start {% if item.status == "Cancelled" %}text-danger {% elif item.status == "Delivered" %} text-success {% elif item.status == "Order confirmed" %} text-warning {% else %}text-primary{% endif %}'></i>
                  <div class="activity-content">
                    {{item.order.user.fullname}}'s order <i>{{item.variant.product.name}}-{{item.variant.color}}</i> is <a href="#" class="fw-bold text-dark">{{item.status}}</a>
                  </div>
                </div><!-- End activity item-->
                {% endfor %}

              </div>

            </div>
          </div><!-- End Recent Activity -->

          <!-- Budget Report -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Most sold products</h5>

              <!-- Polar Area Chart -->
              <canvas id="polarAreaChart" style="max-height: 400px;"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#polarAreaChart'), {
                    type: 'polarArea',
                    data: {
                      labels: [
                      {% for data in product_sales_data %}'{{data.0}}-{{data.1}}' ,{% endfor %}
                      ],
                      datasets: [{
                        label: 'My First Dataset',
                        data: [{% for data in product_sales_data %}{{data.2}},{% endfor %}],
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(75, 192, 192)',
                          'rgb(255, 205, 86)',
                          'rgb(201, 203, 207)',
                          'rgb(54, 162, 235)'
                        ]
                      }]
                    }
                  });
                });
              </script>
              <!-- End Polar Area Chart -->

            </div>
          </div>

          <!-- Website Traffic -->
          <div class="card">
            {% comment %} <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div> {% endcomment %}

            <div class="card-body pb-0">
              <h5 class="card-title">Payment Methods <span>| Today</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Orders Using',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: {{razorpay_orders}},
                          name: 'RazorPay'
                        },
                        {
                          value: {{cod_orders}},
                          name: 'Cash on Delivery'
                        },
                        {
                          value: {{wallet_orders}},
                          name: 'Wallet'
                        },  
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- End Website Traffic -->


        </div><!-- End Right side columns -->
                <!-- Recent Sales -->
                <div class="col-12">
                  <div class="card recent-sales overflow-auto">
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
              
                          <h5 style="font-size:25px;" class="card-title">Sales Report</h5>
                          
                          <form action="" method="get">
                          <div class="d-flex justify-content-end align-items-center">
                            <label for="sales_from" class="mx-3">From: </label>
                            <input type="date" class="form-control" name="sales_from">
                            <label for="sales_to" class="mx-3">To: </label>
                            <input type="date" class="form-control" name="sales_to">
                            <button type="submit" class="ms-3 btn btn-outline-secondary">Filter</button>
                          </div>
                          </form>
                          
                          
                          <a class="icon" href="#" data-bs-toggle="dropdown"><span class="btn btn-outline-primary">Download</span></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                              <h6>Download</h6>
                            </li>

                            <li><a class="dropdown-item" href="{% url "pdf_download" %}?sales_from={{ request.GET.sales_from }}&sales_to={{ request.GET.sales_to }}">Download As PDF</a></li>
                            <li><a class="dropdown-item" href="{% url "download_exel" %}?sales_from={{ request.GET.sales_from }}&sales_to={{ request.GET.sales_to }}">Download As EXEL</a></li>
                            <li><a class="dropdown-item" href="{% url "download_csv" %}?sales_from={{ request.GET.sales_from }}&sales_to={{ request.GET.sales_to }}">Download As CSV</a></li>
                          </ul>                       
                        </div>
                          <table class="table table-borderless datatable mt-3 sales-table">
                              <thead>
                                  <tr>
                                      <th>SI NO.</th>
                                      <th>Order ID</th>
                                      <th>User</th>
                                      <th>Date</th>
                                      <th>Time</th>
                                      <th>Products</th>
                                      <th>quantity</th>
                                      <th>Total</th>
                                      <th>Payment Method</th>
                                  </tr>
                              </thead>
                              <tbody>
                  
                              {% for ord in sales_report %}
                                  <tr>
                                      <td class="sales_table">{{forloop.counter}}</td>
                                      <td class="sales_table">{{ord.order_id|upper}}</td>
                                      <td class="sales_table">{{ord.user.fullname}}</td>
                                      <td class="sales_table">{{ord.order_date.date}}</td>
                                      <td class="sales_table">{{ord.order_date.time}}</td>
                                      <td class="sales_table" style="min-width: 200px; word-wrap: break-word;">{% for item in ord.ordersitem_set.all %}{{item.variant.product.name}}-{{item.variant.color}}<br>{% endfor %}</td>
                                      <td class="sales_table">{% for item in ord.ordersitem_set.all %}{{item.quantity}}<br>{% endfor %}</td>                                      
                                      <td class="sales_table">&#8377;{{ord.total_amount}}</td>
                                      <td class="sales_table">{{ord.payment_method}}</td>
                                  </tr>
                                  
                              {% endfor %}
      
                              </tbody>
                          </table>
      
                      </div>
      
                  </div>
              </div><!-- End Recent Sales -->

      </div>
    </section>

  </main><!-- End #main -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function updateRevenue(url) {
      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          // Update the revenue content with the received data
          $('#revenueCardAmount').html('&#8377;' + data.todayRevenue);
          $('#revenueDate').html(data.date);
        },
        error: function () {
          console.log('Error fetching revenue');
        }
      });
    }
  
    $(document).ready(function () {
      // Add a click event listener to the "Today" dropdown item
      $('#todayRevenue').click(function (e) {
        e.preventDefault();
        updateRevenue('{% url "today_revenue" %}');
      });
  
      // Add a click event listener to the "This Month" dropdown item
      $('#thisMonthRevenue').click(function (e) {
        e.preventDefault();
         updateRevenue('{% url "this_month_revenue" %}');
      });

      $('#allRevenue').click(function (e) {
        e.preventDefault();
         updateRevenue('{% url "all_revenue" %}');
      });
    });
  </script>

  <script>
    function updateSales(url) {
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Update the sales content with the received data
                $('#salesCount').html(data.todaySales);
                $('#salesDate').html(data.date);
            },
            error: function () {
                console.log('Error fetching sales');
            }
        });
    }

    $(document).ready(function () {
        // Add a click event listener to the "Today" dropdown item for sales
        $('#todaySales').click(function (e) {
            e.preventDefault();
            updateSales('{% url "today_sales" %}');
        });

        // Add a click event listener to the "This Month" dropdown item for sales
        $('#thisMonthSales').click(function (e) {
            e.preventDefault();
            updateSales('{% url "this_month_sales" %}');
        });

        // Add a click event listener to the "All" dropdown item for sales
        $('#allSales').click(function (e) {
            e.preventDefault();
            console.error("clicked")
            updateSales('{% url "all_sales" %}');
        });
    });
</script>
  
  {% endblock content %}