{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Brands{% endblock title %}
{% block brands %}{% endblock brands %}
{% block content %}

<main id="main" class="main">

    <div class="d-flex justify-content-between">
        <div class="pagetitle">
            <h1>Brands</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item active">Brands</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <a href="{% url 'add_brands' %}" class="btn btn-primary btn-rounded h-50">Add Brand</a>
    </div>

        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <table class="table table-borderless datatable mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Brand</th>
                                <th>List / Unlist</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        {% for brand in brands %}
                            <tr>
                                <td>{{brand.id}}</td>
                                <td>{{brand.name}}</td>
                                {% if brand.is_listed %}
                                <td><a href='brand_status/{{brand.id}}'><span class="btn btn-danger">Unlist</span></a></td>
                                {% else %}
                                <td><a href='brand_status/{{brand.id}}'><span class="btn btn-success">List</span></a></td>
                                {% endif %}
                                {% comment %} <td style='font-size:20px'><i class="bi bi-pencil-square text-warning">&nbsp;&nbsp;&nbsp;</i><i class="bi bi-trash-fill text-danger"></i></td> {% endcomment %}
                                <td style='font-size:20px'><a href="edit_brands/{{brand.id}}"><i class="bi bi-pencil-square text-warning"></i></a></td>
                            </tr>

                        
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->
{% endblock content %}