{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Edit Variant{% endblock title %}
{% block products %}{% endblock products %}
{% block content %}

<main id="main" class="main">

  <div class="d-flex justify-content-between">
    <div class="pagetitle">
        <h1>Edit Variant</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item">Products</li>
                <li class="breadcrumb-item ">Variants</li>
                <li class="breadcrumb-item active">Edit Variant</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <a href="{% url "products" %}" class="btn btn-danger btn-rounded h-50">Cancel</a>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Edit an existing Variant for the product</h5>

        <!-- General Form Elements -->
        <form action='' method='POST' id="variantForm" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Product Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="{{product.name}}" required disabled>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Color</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="color" id="colorField" value="{{variant.color}}" required>
                <span class="error-message text-danger mt-2" id="color-error"></span>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label">Quantity</label>
              <div class="col-sm-10 col-md-4">
                <input type="number" class="form-control" value="{{variant.quantity}}" width="100px" name="quantity" id="quantityField" required>
                <span class="error-message text-danger mt-2" id="quantity-error"></span>
              </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10 col-md-4">
                  <input type="number" min="0" class="form-control" value="{{variant.price}}" width="100px" name="price" id="priceField" required>
                  <span class="error-message text-danger mt-2" id="price-error"></span>
                </div>
            </div>

            
            <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label">Images</label>
              <div class="col-sm-10 col-md-4">
                <input class="form-control" type="file" id="formFile" name="images" multiple>
                <span class="error-message text-danger mt-2" id="images-error"></span>
              </div>
          </div>
          
          <div class="row mb-3">
              <label for="inputNumber" class="col-sm-2 col-form-label">Existing Images</label>
              <div class="col-sm-10 col-md-4">
                {% for i in images %}
                  <img src="{{i.image.url}}" alt="{{i.image}}" class="color-thumbnail border-2 " height='70px'></a>
                {% endfor %}
              </div>
          </div>

          <br><br>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Submit</label>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update Variant</button>
              </div>
            </div>
          

          </form><!-- End General Form Elements -->

    </div>
  </div>

</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
    $(document).ready(function () {
        $("#variantForm").validate({
            rules: {
                color: {
                    required: true,
                    minlength: 3,
                    noConsecutiveSpaces: true
                },
                quantity: {
                    required: true,
                    min: 0
                },
                price: {
                    required: true,
                    min: 1
                },
                discount: {
                    required: true,
                    range: [0, 99.99]
                },
                discounted_price: {
                    required: true,
                    min: 1
                },
            },
            messages: {
                color: {
                    required: "Please enter the color",
                    minlength: "Color must contain at least 3 alphabetical characters",
                    noConsecutiveSpaces: "Color cannot have consecutive spaces"
                },
                quantity: {
                    required: "Please enter the quantity",
                    min: "Quantity must be a positive number"
                },
                price: {
                    required: "Please enter the price",
                    min: "Price must be greater than 0"
                },
                discount: {
                    required: "Please enter the discount",
                    range: "Discount must be a positive number less than 100"
                },
                discounted_price: {
                    required: "Please enter the discounted price",
                    min: "Discounted price must be greater than 0"
                },
                
            },
            errorClass: "is-invalid",
            errorPlacement: function (error, element) {
                error.addClass("invalid-feedback");
                error.insertAfter(element);
            }
        });

        // Custom validation method
        $.validator.addMethod("noConsecutiveSpaces", function (value, element) {
            return !/\s{2,}/.test(value);
        }, "Color cannot have consecutive spaces");
    });
</script>

{% endblock content %}
