{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Orders{% endblock title %}
{% block orders %}{% endblock orders %}
{% block content %}

<main id="main" class="main">

        <div class="pagetitle">
            <h1>Orders</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <table class="table table-borderless datatable mt-3">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Item Image</th>
                                <th>Item Name</th>
                                <th>User</th>
                                <th>Method</th>
                                <th>Actions</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        {% for item in items %}
                            <tr>
                                <td class="align-middle">{{item.id}}</td>
                                {% comment %} <td><center><img src="{% get_media_prefix %}{{prod.image1}}" height="80px"/><center></td> {% endcomment %}
                                <td><center><img src="{{item.variant.productimage_set.last.image.url}}" height="80px"/><center></td>
                                    <td class="align-middle">{{item.variant.product.name}} - {{item.variant.color}} x {{item.quantity}}</td>
                                    <td class="align-middle">{{item.order.user.fullname}}</td>
                                    <td class="align-middle">{{item.order.payment_method}}</td>
                                    <td class="align-middle"><a href="view_order_details/{{item.id}}" class="btn btn-outline-dark">View Details</a></td>
                                    <td class="align-middle {% if item.status == "Cancelled" %}text-danger {% elif item.status == "Delivered" %} text-success {% elif item.status == "Order confirmed" %} text-warning {% else %}text-primary{% endif %}">{{item.status}}</td>

                                    
                                {% comment %} <td class="align-middle"><a href='product_status/{{prod.id}}'><span class="btn btn-danger">Cancel</span></a></td> {% endcomment %}

                            </tr>

                        
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->
{% endblock content %}