{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block title %} Products{% endblock title %}
{% block products %}{% endblock products %}
{% block content %}


<main id="main" class="main">
    <div class="d-flex justify-content-between">
        <div class="pagetitle">
            <h1>Products</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <a href="{% url 'add_products' %}"class="btn btn-primary btn-rounded h-50">Add Products</a>
    </div>

        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <table class="table table-borderless datatable mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Brand</th>
                                <th>Category</th>
                                <th>Details</th>
                                <th>List / Unlist</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        {% for prod in products %}
                            <tr>
                                <td class="align-middle">{{prod.id}}</td>
                                {% comment %} <td><center><img src="{% get_media_prefix %}{{prod.image1}}" height="80px"/><center></td> {% endcomment %}
                                    <td><center><img src="{{prod.colorvarient_set.all.0.productimage_set.last.image.url}}" height="80px"/><center></td>
                                    <td class="align-middle">{{prod.name}}</td>
                                    <td class="align-middle">{{prod.brands.name}}</td>
                                    <td class="align-middle">{{prod.category.name}}</td>
                                    <td class="align-middle"><a href="varient_details/{{prod.id}}" class="btn btn-outline-dark">View Details</a></td>
                                {% if prod.is_listed %}
                                <td class="align-middle"><a href='product_status/{{prod.id}}'><span class="btn btn-danger">Unlist</span></a></td>
                                {% else %}
                                <td class="align-middle"><a href='product_status/{{prod.id}}'><span class="btn btn-success">List</span></a></td>
                                {% endif %}
                                <td class="align-middle" style='font-size:20px'><a href="edit_products/{{prod.id}}" class="btn btn-warning">Edit</a></td>

                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </main><!-- End #main -->
{% endblock content %}