{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop13 - Forget Password</title>
  <link rel="icon" type="image/x-icon" href="{% static 'home/image/13_favicon_logo.jpg' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'userlogin/css/login.css' %}">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="{% static 'userlogin/images/logo.png' %}" alt="logo" class='logo'>
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Forget Password</h1>
            <p class="login-text">Please enter the Your verified email address to Reset password</p>
            <form action="" method='POST'>
              {% csrf_token %}
              <div class="form-group">
                <label for="otp">Registered Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email Address">
              </div>
              <input name="verify" id="verify" class="btn btn-block login-btn" type="submit" value="Send Email">
              {% if messages %}{% for message in messages %}<span id="email-error" class="error-message {% if message.tags == "error" %} text-danger {% else %}text-success{% endif %}">{{message}}</span>{% endfor %}{% endif %}
            </form>


           </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'userlogin/images/otp.jpg' %}" alt="otp image" class="login-img">
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
