{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop13 - OTP</title>
  <link rel="icon" type="image/x-icon" href="{% static 'home/image/13_favicon_logo.jpg' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'userlogin/css/login.css' %}">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="{% static 'userlogin/images/logo.png' %}" alt="logo" class='logo'>
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">OTP</h1>
            <p class="login-text">Please enter the 6 digit OTP that have been Send to your email</p>
            <form action="" method='POST'>
              {% csrf_token %}
              <div class="form-group">
                <label for="otp">OTP</label>
                <input type="tel" pattern="[0-9]{6}" name="otp" id="otp" class="form-control" placeholder="Enter your 6 digit OTP">
              </div>
              <input name="verify" id="verify" class="btn btn-block login-btn" type="submit" value="Verify OTP">
              <span id="email-error" class="error-message text-danger">{% if messages %}{% for message in messages %}{{message}}{% endfor %}{% endif %}</span>
            </form>
            <a href="{% url 'send_otp' %}" class="forgot-password-link">Resend OTP</a>
            
            
            <p class="login-wrapper-footer-text">
              OTP Timer : <span id="total-time-left" class="otp-timer"></span>
            </p>
                      </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'userlogin/images/otp.jpg' %}" alt="otp image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  
  <script>
    // Function to start the timer
    function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      var intervalId = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          clearInterval(intervalId);
          display.textContent = "OTP Expired";
          // You can add additional logic here, such as disabling the form or redirecting the user.
        }
      }, 1000);
    }

    // Function to set the timer when the page is loaded
    document.addEventListener("DOMContentLoaded", function () {
      var totalTime = 300; // Set the total time in seconds
      var display = document.querySelector('#total-time-left');
      startTimer(totalTime, display);
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
