{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop13 - OTP</title>
  <link rel="icon" type="image/x-icon" href="{% static 'home/image/13_favicon_logo.jpg' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'userlogin/css/login.css' %}">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="{% static 'userlogin/images/logo.png' %}" alt="logo" class='logo'>
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">OTP</h1>
            <p class="login-text">Please enter the 6 digit OTP that have been Send to your email</p>
            <form action="" method='POST'>
              {% csrf_token %}
              <div class="form-group">
                <label for="otp">OTP</label>
                <input type="tel" pattern="[0-9]{6}" name="otp" id="otp" class="form-control" placeholder="Enter your 6 digit OTP">
              </div>
              <input name="verify" id="verify" class="btn btn-block login-btn" type="submit" value="Verify OTP">
              <span id="email-error" class="error-message text-danger">{% if messages %}{% for message in messages %}{{message}}{% endfor %}{% endif %}</span>
            </form>
            <a href="{% url 'send_otp' %}" class="forgot-password-link">Resend OTP</a>
            
            
            <p class="login-wrapper-footer-text">
              OTP Timer : <span id="total-time-left" class="otp-timer" style="display: none;">{{otp_expiry|date:"M d, Y H:i:s"}}</span>
              <span id="spinner" class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </span>
            </p>
                      </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'userlogin/images/otp.jpg' %}" alt="otp image" class="login-img">
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const countdownbox = document.getElementById('total-time-left');
      const spinner = document.getElementById('spinner');
  
      // Initial state: Show spinner, hide countdownbox
      spinner.style.display = 'inline-block';
      countdownbox.style.display = 'none';
  
      const eventtime = Date.parse(countdownbox.textContent);
  
      setInterval(() => {
        const now = new Date().getTime();
        const diff = eventtime - now;
        const m = Math.floor((diff / (1000 * 60)) % 60);
        const s = Math.floor((diff / 1000) % 60);
  
        if (diff > 0) {
          
          if(diff < 10){
            countdownbox.innerHTML = m + ":0" + s;
          }
          else{
            countdownbox.innerHTML = m + ":" + s;
          }
        }
         else {
          countdownbox.innerHTML = '<span class="text-danger"> OTP Expired </span>';
        }
      }, 1000);
  
      // After setting up the interval, show countdownbox and hide spinner
      setTimeout(() => {
        spinner.style.display = 'none';
        countdownbox.style.display = 'inline-block';
      }, 1000); // You can adjust the delay time based on your needs
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
